/*Estilos para Input.File*/

input#upload { background: #aaa url(../../Images/jQuery/fileUpload/bg-btn.png) bottom repeat-x; border: 1px solid #aaa; color: #222; cursor: pointer; }
input#upload:hover { background: #eee; color: #111; border-color:#777; }


/*custom upload elements*/
.customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999; vertical-align:bottom;  }
.customfile { height:21px; width: 300px; background: #fff; cursor: pointer; overflow: hidden; border: 1px solid #444; position: relative; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; font-style: italic; overflow:visible }
.customfile-feedback-populated { font-style: normal;  background: url(../../Images/jQuery/fileUpload//icon-generic.gif) left 4px no-repeat; overflow:visible; height:21px; vertical-align:bottom; padding-top:4px; padding-left:20px; }
.customfile-button { border: 0px solid #999; background: #FFF;  color: #fff; float: right;   text-align: center; text-decoration: none;  padding-top:4px; }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { color:#111; border-color:#aaa;  }
.customfile-focus .customfile-button { outline: 1px dotted #ccc;  }

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(../../Images/jQuery/fileUpload//icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(../../Images/jQuery/fileUpload//icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(../../Images/jQuery/fileUpload//icon-zip.gif); overflow:visible; }
