.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_clave_label { }
.css_clave_line { }
.css_clave_obj { }
.css_cliente_label { }
.css_cliente_line {border-color:#FFFFFF;}
.css_cliente_obj {color:#000000;border-color:#FFFFFF;}
