.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_cod_group_det_label {text-align: left;vertical-align: middle;}
.css_cod_group_det_line {height:0px;text-align: left;}
.css_text_message_det_label {text-align: left;vertical-align: middle;}
.css_text_message_det_line {height:0px;text-align: left;}
.css_start_date_det_label {text-align: left;vertical-align: middle;}
.css_start_date_det_line {height:0px;text-align: left;}
.css_end_date_det_label {text-align: left;vertical-align: middle;}
.css_end_date_det_line {height:0px;text-align: left;}
