.css_id_recibo_label { }
.css_id_recibo_line {text-align:left;}
.css_id_recibo_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj { }
.css_numero_label { }
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
.css_id_cliente_label { }
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
.css_asentado_label { }
.css_asentado_line { }
.css_asentado_obj { }
.css_monto_a_pagar_label { }
.css_monto_a_pagar_line {text-align:left;}
.css_monto_a_pagar_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_descuentos_label { }
.css_descuentos_line {text-align:left;}
.css_descuentos_obj {text-align:left;}
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_formapago_label { }
.css_formapago_line { }
.css_formapago_obj { }
