.css_idpro_label { }
.css_idpro_line {text-align:left;}
.css_idpro_obj {text-align:left;}
.css_idbod_label { }
.css_idbod_line {text-align:left;}
.css_idbod_obj {text-align:left;}
.css_cantidad_label { }
.css_cantidad_line {text-align:left;}
.css_cantidad_obj {text-align:left;}
.css_valorunit_label { }
.css_valorunit_line {text-align:left;}
.css_valorunit_obj {text-align:left;}
.css_valorpar_label { }
.css_valorpar_line {text-align:left;}
.css_valorpar_obj {text-align:left;}
.css_iva_label { }
.css_iva_line {text-align:left;}
.css_iva_obj {text-align:left;}
.css_descuento_label { }
.css_descuento_line {text-align:left;}
.css_descuento_obj {text-align:left;}
.css_adicional_label { }
.css_adicional_line {text-align:left;}
.css_adicional_obj {text-align:left;}
