.css_tipodoc__label { }
.css_tipodoc__line { }
.css_tipodoc__obj {text-align:center;}
.css_prefijo__label { }
.css_prefijo__line { }
.css_prefijo__obj {text-align:center;}
.css_consecutivo__label { }
.css_consecutivo__line { }
.css_consecutivo__obj {text-align:center;}
