.css_id_caso_label {text-align:right;}
.css_id_caso_line {text-align:left;}
.css_id_caso_obj {text-align:left;}
.css_id_producto_label {text-align:right;}
.css_id_producto_line {text-align:left;}
.css_id_producto_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_cantidad_label {text-align:right;}
.css_cantidad_line {text-align:left;}
.css_cantidad_obj {text-align:left;}
.css_valor_label {text-align:right;}
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_valor_imp_label { }
.css_valor_imp_line {text-align:left;}
.css_valor_imp_obj {text-align:left;}
.css_tarifa_imp_label { }
.css_tarifa_imp_line {text-align:left;}
.css_tarifa_imp_obj {text-align:left;}
.css_codigo_imp_label { }
.css_codigo_imp_line { }
.css_codigo_imp_obj { }
.css_desc_imp_label { }
.css_desc_imp_line { }
.css_desc_imp_obj { }
.css_descr_label { }
.css_descr_line { }
.css_descr_obj { }
.css_cod_producto_label { }
.css_cod_producto_line { }
.css_cod_producto_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
