.css_idusuarios_grupos__label {text-align:right;}
.css_idusuarios_grupos__line {text-align:left;}
.css_idusuarios_grupos__obj {text-align:left;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
