.css_idmenu_movil__label { }
.css_idmenu_movil__line {text-align:left;}
.css_idmenu_movil__obj {text-align:left;}
.css_aplicacion__label { }
.css_aplicacion__line { }
.css_aplicacion__obj { }
.css_enlace__label { }
.css_enlace__line { }
.css_enlace__obj { }
.css_titulo__label { }
.css_titulo__line { }
.css_titulo__obj { }
.css_posicion__label { }
.css_posicion__line {text-align:left;}
.css_posicion__obj {text-align:center;width:50px;}
.css_tema__label { }
.css_tema__line { }
.css_tema__obj {text-align:center;width:60px;}
.css_icono__label { }
.css_icono__line { }
.css_icono__obj { }
.css_sc_field_0__label { }
.css_sc_field_0__line { }
.css_sc_field_0__obj {width:100px;}
.css_activo__label { }
.css_activo__line { }
.css_activo__obj { }
.css_id__label { }
.css_id__line { }
.css_id__obj { }
.css_clase_css__label { }
.css_clase_css__line { }
.css_clase_css__obj { }
.css_comportamiento__label { }
.css_comportamiento__line { }
.css_comportamiento__obj { }
.css_ruta_imagen__label { }
.css_ruta_imagen__line { }
.css_ruta_imagen__obj { }
.css_posicion_icono__label { }
.css_posicion_icono__line { }
.css_posicion_icono__obj { }
