.css_id_dt_ter_label {text-align:right;}
.css_id_dt_ter_line {text-align:left;}
.css_id_dt_ter_obj {text-align:left;}
.css_id_tercero_label { }
.css_id_tercero_line { }
.css_id_tercero_obj { }
.css_cod_det_trib_label { }
.css_cod_det_trib_line { }
.css_cod_det_trib_obj { }
.css_decripcion_dt_label { }
.css_decripcion_dt_line { }
.css_decripcion_dt_obj { }
