.css_prefijo__label { }
.css_prefijo__line {text-align:left;}
.css_prefijo__obj {text-align:left;}
.css_tipodocumento__label { }
.css_tipodocumento__line { }
.css_tipodocumento__obj { }
.css_idformato__label { }
.css_idformato__line {text-align:left;}
.css_idformato__obj {text-align:left;}
.css_encabezado_pos__label { }
.css_encabezado_pos__line { }
.css_encabezado_pos__obj { }
.css_pie_pos__label { }
.css_pie_pos__line { }
.css_pie_pos__obj { }
