.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
