.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_servidor_label { }
.css_servidor_line { }
.css_servidor_obj { }
.css_puerto_label { }
.css_puerto_line {text-align:left;}
.css_puerto_obj {text-align:left;}
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_password_label { }
.css_password_line { }
.css_password_obj { }
.css_correo_remitente_label { }
.css_correo_remitente_line { }
.css_correo_remitente_obj { }
.css_tls_ssl_label { }
.css_tls_ssl_line { }
.css_tls_ssl_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
