.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_pj_label { }
.css_pj_line { }
.css_pj_obj { }
.css_numero_label { }
.css_numero_line { }
.css_numero_obj { }
.css_kardexid_label { }
.css_kardexid_line { }
.css_kardexid_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_asentada_label { }
.css_asentada_line { }
.css_asentada_obj { }
.css_sn_cufe_label { }
.css_sn_cufe_line { }
.css_sn_cufe_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
