.css_idpagina_label { }
.css_idpagina_line {text-align:left;}
.css_idpagina_obj {text-align:left;}
.css_titulo_label { }
.css_titulo_line { }
.css_titulo_obj { }
.css_pie_label { }
.css_pie_line { }
.css_pie_obj { }
.css_logo_label { }
.css_logo_line { }
.css_logo_obj { }
.css_tema_titulo_label { }
.css_tema_titulo_line { }
.css_tema_titulo_obj { }
.css_tema_pie_label { }
.css_tema_pie_line { }
.css_tema_pie_obj { }
.css_aplicacion_label { }
.css_aplicacion_line { }
.css_aplicacion_obj { }
.css_id_label { }
.css_id_line { }
.css_id_obj { }
.css_ancho_imagen_label { }
.css_ancho_imagen_line {text-align:left;}
.css_ancho_imagen_obj {text-align:left;}
.css_alto_imagen_label { }
.css_alto_imagen_line {text-align:left;}
.css_alto_imagen_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_tipo1_label { }
.css_tipo1_line { }
.css_tipo1_obj { }
