.css_idproducto_galeria__label {text-align:right;}
.css_idproducto_galeria__line {text-align:left;}
.css_idproducto_galeria__obj {text-align:left;}
.css_idproducto__label {text-align:right;}
.css_idproducto__line {text-align:left;}
.css_idproducto__obj {text-align:left;}
.css_imagen__label { }
.css_imagen__line { }
.css_imagen__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
