.css_codigobar_label { }
.css_codigobar_line { }
.css_codigobar_obj { }
.css_codigoprod_label { }
.css_codigoprod_line { }
.css_codigoprod_obj { }
.css_nompro_label { }
.css_nompro_line { }
.css_nompro_obj { }
.css_preciomen_label {text-align:left;}
.css_preciomen_line {text-align:left;}
.css_preciomen_obj {text-align:right;}
.css_preciomen2_label {text-align:left;}
.css_preciomen2_line {text-align:left;}
.css_preciomen2_obj {text-align:right;}
.css_preciomen3_label {text-align:left;}
.css_preciomen3_line {text-align:left;}
.css_preciomen3_obj {text-align:right;}
.css_precio2_label {text-align:left;}
.css_precio2_line {text-align:left;}
.css_precio2_obj {text-align:right;}
.css_preciomay_label {text-align:left;}
.css_preciomay_line {text-align:left;}
.css_preciomay_obj {text-align:right;}
.css_preciofull_label {text-align:left;}
.css_preciofull_line {text-align:left;}
.css_preciofull_obj {text-align:right;}
.css_precio_editable_label { }
.css_precio_editable_line { }
.css_precio_editable_obj { }
.css_fecha_vencimiento_label { }
.css_fecha_vencimiento_line { }
.css_fecha_vencimiento_obj { }
.css_lote_label { }
.css_lote_line { }
.css_lote_obj { }
.css_serial_codbarras_label { }
.css_serial_codbarras_line { }
.css_serial_codbarras_obj { }
