.css_codigo__label {text-align:left;}
.css_codigo__line { }
.css_codigo__obj {text-align:right;}
.css_descripcion__label {text-align:left;}
.css_descripcion__line {text-align:left;}
.css_descripcion__obj {text-align:left;}
.css_porrete__label {text-align:right;}
.css_porrete__line {text-align:left;}
.css_porrete__obj {text-align:right;}
