.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_mensaje_label { }
.css_id_mensaje_line {text-align:left;}
.css_id_mensaje_obj {text-align:left;}
.css_clasificaciones_destino_label { }
.css_clasificaciones_destino_line { }
.css_clasificaciones_destino_obj { }
