.css_caso_label {width:100px;}
.css_caso_line {text-align:left;}
.css_caso_obj {text-align:left;}
.css_fecha_y_hora_label {width:100px;}
.css_fecha_y_hora_line { }
.css_fecha_y_hora_obj { }
.css_medio_label {width:100px;}
.css_medio_line { }
.css_medio_obj { }
