.css_idconfprintpos_label { }
.css_idconfprintpos_line {text-align:left;}
.css_idconfprintpos_obj {text-align:left;}
.css_texto_tamanio_label { }
.css_texto_tamanio_line {text-align:left;}
.css_texto_tamanio_obj {text-align:left;}
.css_texto_fuente_label { }
.css_texto_fuente_line { }
.css_texto_fuente_obj { }
.css_logo_label { }
.css_logo_line { }
.css_logo_obj { }
.css_texto_cabecera_label { }
.css_texto_cabecera_line { }
.css_texto_cabecera_obj { }
.css_texto_pie_label { }
.css_texto_pie_line { }
.css_texto_pie_obj { }
.css_porcentajeopx_label { }
.css_porcentajeopx_line { }
.css_porcentajeopx_obj { }
.css_archo_ticket_label { }
.css_archo_ticket_line {text-align:left;}
.css_archo_ticket_obj {text-align:left;}
.css_ticket_pjopx_label { }
.css_ticket_pjopx_line { }
.css_ticket_pjopx_obj { }
.css_predeterminada_label { }
.css_predeterminada_line { }
.css_predeterminada_obj { }
.css_tipo_vista_label { }
.css_tipo_vista_line { }
.css_tipo_vista_obj { }
.css_tipo_doc_label { }
.css_tipo_doc_line { }
.css_tipo_doc_obj { }
.css_impresion_directa_label { }
.css_impresion_directa_line { }
.css_impresion_directa_obj { }
.css_tipo_impresora_label { }
.css_tipo_impresora_line { }
.css_tipo_impresora_obj { }
.css_nombre_impresora_label { }
.css_nombre_impresora_line { }
.css_nombre_impresora_obj { }
