.css_familia_label { }
.css_familia_line { }
.css_familia_obj { }
.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_tamanio_label { }
.css_tamanio_line { }
.css_tamanio_obj {text-align:center;}
.css_tipoletra_label { }
.css_tipoletra_line { }
.css_tipoletra_obj { }
.css_numerocolumnas_label { }
.css_numerocolumnas_line { }
.css_numerocolumnas_obj {text-align:center;}
.css_tipocodbarras_label { }
.css_tipocodbarras_line { }
.css_tipocodbarras_obj { }
.css_tipoimagen_label { }
.css_tipoimagen_line { }
.css_tipoimagen_obj { }
.css_titulopersonalizado_label { }
.css_titulopersonalizado_line { }
.css_titulopersonalizado_obj { }
.css_vercodigo_label { }
.css_vercodigo_line { }
.css_vercodigo_obj { }
.css_verdescripcion_label { }
.css_verdescripcion_line { }
.css_verdescripcion_obj { }
.css_verprecio_label { }
.css_verprecio_line { }
.css_verprecio_obj { }
.css_altura_label { }
.css_altura_line { }
.css_altura_obj {text-align:center;}
