.css_referencia_label { }
.css_referencia_line { }
.css_referencia_obj { }
.css_nuevocodigo_label { }
.css_nuevocodigo_line { }
.css_nuevocodigo_obj { }
.css_nuevadescripcion_label { }
.css_nuevadescripcion_line { }
.css_nuevadescripcion_obj { }
.css_precio_label { }
.css_precio_line { }
.css_precio_obj {text-align:right;}
