.css_iddet__label { }
.css_iddet__line {text-align:left;}
.css_iddet__obj {text-align:left;}
.css_idpedid__label { }
.css_idpedid__line {text-align:left;}
.css_idpedid__obj {text-align:left;}
.css_idpro__label { }
.css_idpro__line {text-align:left;}
.css_idpro__obj {text-align:left;width:200px;}
.css_idbod__label { }
.css_idbod__line {text-align:left;}
.css_idbod__obj {text-align:center;width:100px;}
.css_cantidad__label { }
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:center;width:50px;}
.css_valorunit__label { }
.css_valorunit__line {text-align:left;}
.css_valorunit__obj {text-align:center;}
.css_valorpar__label { }
.css_valorpar__line {text-align:left;}
.css_valorpar__obj {text-align:center;}
.css_iva__label { }
.css_iva__line {text-align:left;}
.css_iva__obj {text-align:center;}
.css_adicional__label { }
.css_adicional__line {text-align:left;}
.css_adicional__obj {text-align:center;width:40px;}
.css_observ__label { }
.css_observ__line { }
.css_observ__obj {text-align:center;width:50px;}
.css_codbarra__label { }
.css_codbarra__line { }
.css_codbarra__obj {text-align:center;width:100px;}
