.css_trifa_label {text-align:right;}
.css_trifa_line {text-align:center;}
.css_trifa_obj {text-align:center;}
.css_tipo_impuesto_label { }
.css_tipo_impuesto_line { }
.css_tipo_impuesto_obj { }
.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_puc_label { }
.css_puc_line { }
.css_puc_obj { }
.css_puc_dv_ventas_label { }
.css_puc_dv_ventas_line { }
.css_puc_dv_ventas_obj { }
.css_puc_compras_label { }
.css_puc_compras_line { }
.css_puc_compras_obj { }
.css_puc_dv_compras_label { }
.css_puc_dv_compras_line { }
.css_puc_dv_compras_obj { }
