.css_codigobar__label { }
.css_codigobar__line { }
.css_codigobar__obj { }
.css_codigoprod__label { }
.css_codigoprod__line { }
.css_codigoprod__obj { }
.css_nompro__label { }
.css_nompro__line { }
.css_nompro__obj { }
.css_unimay__label { }
.css_unimay__line {text-align:center;}
.css_unimay__obj {text-align:center;}
.css_costomen__label {text-align:left;}
.css_costomen__line {text-align:right;}
.css_costomen__obj {text-align:right;}
.css_idpro1__label {text-align:left;vertical-align:middle;}
.css_idpro1__line {text-align:left;}
.css_idpro1__obj {text-align:left;}
.css_idpro2__label {text-align:right;}
.css_idpro2__line {text-align:left;}
.css_idpro2__obj {text-align:left;}
