.css_codigobar__label {text-align:center;vertical-align:middle;}
.css_codigobar__line {text-align:center;vertical-align:middle;}
.css_codigobar__obj { }
.css_nompro__label { }
.css_nompro__line { }
.css_nompro__obj { }
.css_unimen__label { }
.css_unimen__line {width:50px;}
.css_unimen__obj {width:50px;}
.css_costomen__label {text-align:left;vertical-align:middle;}
.css_costomen__line {text-align:left;}
.css_costomen__obj {text-align:right;}
.css_preciomen__label {text-align:center;vertical-align:middle;}
.css_preciomen__line {text-align:left;}
.css_preciomen__obj {text-align:right;}
.css_idgrup__label {text-align:center;vertical-align:middle;}
.css_idgrup__line {text-align:left;width:120px;}
.css_idgrup__obj {text-align:left;width:120px;}
.css_idiva__label {text-align:center;vertical-align:middle;}
.css_idiva__line {text-align:left;width:100px;}
.css_idiva__obj {text-align:left;width:100px;}
.css_imagenprod__label {text-align:center;vertical-align:middle;}
.css_imagenprod__line { }
.css_imagenprod__obj { }
.css_unidad___label { }
.css_unidad___line {width:100px;}
.css_unidad___obj {width:100px;}
