.css_correo_det_label {text-align: right;vertical-align: middle;}
.css_correo_det_line {height:0px;text-align: right;}
.css_nit_det_label {text-align: right;vertical-align: middle;}
.css_nit_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_valido_det_label {text-align: right;vertical-align: middle;}
.css_valido_det_line {height:0px;text-align: right;}
.css_json_det_label {text-align: right;vertical-align: middle;}
.css_json_det_line {height:0px;text-align: right;}
