.css_id_historial_crm_label { }
.css_id_historial_crm_line {text-align:left;}
.css_id_historial_crm_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_notas_label { }
.css_notas_line { }
.css_notas_obj { }
.css_asesor_label { }
.css_asesor_line {text-align:left;}
.css_asesor_obj {text-align:left;}
.css_motivo_label { }
.css_motivo_line { }
.css_motivo_obj { }
.css_atendido_label { }
.css_atendido_line { }
.css_atendido_obj { }
.css_id_contacto_tercero_label { }
.css_id_contacto_tercero_line {text-align:left;}
.css_id_contacto_tercero_obj {text-align:left;}
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_archivos_label { }
.css_archivos_line { }
.css_archivos_obj { }
