.css_iddatos_label { }
.css_iddatos_line {text-align:left;}
.css_iddatos_obj {text-align:left;}
.css_razonsoc_label { }
.css_razonsoc_line { }
.css_razonsoc_obj { }
.css_nit_label { }
.css_nit_line { }
.css_nit_obj { }
.css_dv_label { }
.css_dv_line {text-align:left;}
.css_dv_obj {text-align:left;}
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_naturaleza_label { }
.css_naturaleza_line {text-align:left;}
.css_naturaleza_obj {text-align:left;}
.css_regimen_label { }
.css_regimen_line {text-align:left;}
.css_regimen_obj {text-align:left;}
.css_telefono_label { }
.css_telefono_line { }
.css_telefono_obj { }
.css_correo_label { }
.css_correo_line { }
.css_correo_obj { }
.css_logo_label { }
.css_logo_line { }
.css_logo_obj { }
.css_detalle_trib_label { }
.css_detalle_trib_line { }
.css_detalle_trib_obj { }
.css_codigos_ciiu_label { }
.css_codigos_ciiu_line {width:150px;}
.css_codigos_ciiu_obj {width:450px;}
.css_responsab_trib_label { }
.css_responsab_trib_line { }
.css_responsab_trib_obj { }
.css_tipo_documento_label { }
.css_tipo_documento_line { }
.css_tipo_documento_obj { }
.css_nombre_comercial_label { }
.css_nombre_comercial_line { }
.css_nombre_comercial_obj { }
.css_nompais_label { }
.css_nompais_line { }
.css_nompais_obj { }
.css_nom_depto_label { }
.css_nom_depto_line { }
.css_nom_depto_obj { }
.css_municipio_label { }
.css_municipio_line {text-align:left;}
.css_municipio_obj {text-align:left;}
.css_ciudad_label { }
.css_ciudad_line { }
.css_ciudad_obj { }
.css_codigo_postal_label { }
.css_codigo_postal_line { }
.css_codigo_postal_obj { }
.css_sucursal_label { }
.css_sucursal_line { }
.css_sucursal_obj { }
.css_codigo_te_label { }
.css_codigo_te_line { }
.css_codigo_te_obj { }
.css_ruta_logo_label { }
.css_ruta_logo_line { }
.css_ruta_logo_obj { }
.css_ciiu_label {text-align:center;}
.css_ciiu_line {text-align:center;}
.css_ciiu_obj {text-align:center;}
