.css_d_kardexid_det_label {text-align: left;vertical-align: middle;}
.css_d_kardexid_det_line {height:0px;text-align: left;}
.css_producto_det_label {text-align: left;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: left;}
.css_bd_det_label {text-align: left;vertical-align: middle;}
.css_bd_det_line {height:0px;text-align: left;}
.css_cant_det_label {text-align: left;vertical-align: middle;}
.css_cant_det_line {height:0px;text-align: left;}
.css_precio_det_label {text-align: left;vertical-align: middle;}
.css_precio_det_line {height:0px;text-align: left;}
.css_total_det_label {text-align: left;vertical-align: middle;}
.css_total_det_line {height:0px;text-align: left;}
.css_iva_det_label {text-align: left;vertical-align: middle;}
.css_iva_det_line {height:0px;text-align: left;}
.css_d_descuento_det_label {text-align: left;vertical-align: middle;}
.css_d_descuento_det_line {height:0px;text-align: left;}
