.css_idaplicacion__label {text-align:right;}
.css_idaplicacion__line {text-align:left;}
.css_idaplicacion__obj {text-align:left;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_imagen__label { }
.css_imagen__line { }
.css_imagen__obj { }
.css_modulo__label { }
.css_modulo__line { }
.css_modulo__obj { }
.css_verificacion__label { }
.css_verificacion__line { }
.css_verificacion__obj { }
.css_imgen_mostrar__label { }
.css_imgen_mostrar__line { }
.css_imgen_mostrar__obj { }
