.css_id_contacto_label { }
.css_id_contacto_line {text-align:left;}
.css_id_contacto_obj {text-align:left;}
.css_nombres_label { }
.css_nombres_line { }
.css_nombres_obj { }
.css_direccion_label { }
.css_direccion_line {text-align:left;}
.css_direccion_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_pais_label { }
.css_pais_line { }
.css_pais_obj { }
.css_ciudad_label { }
.css_ciudad_line { }
.css_ciudad_obj { }
.css_clasificacion_label { }
.css_clasificacion_line {text-align:left;}
.css_clasificacion_obj {text-align:left;}
.css_inactivo_label { }
.css_inactivo_line { }
.css_inactivo_obj { }
.css_ultimo_contacto_label { }
.css_ultimo_contacto_line { }
.css_ultimo_contacto_obj { }
.css_numero_contactos_label { }
.css_numero_contactos_line {text-align:left;}
.css_numero_contactos_obj {text-align:left;}
.css_asesor_label { }
.css_asesor_line {text-align:left;}
.css_asesor_obj {text-align:left;}
.css_archivos_label { }
.css_archivos_line { }
.css_archivos_obj { }
.css_clientes_label { }
.css_clientes_line { }
.css_clientes_obj { }
.css_correos_label { }
.css_correos_line { }
.css_correos_obj { }
.css_telefonos_label { }
.css_telefonos_line { }
.css_telefonos_obj { }
