.css_id_presupuesto_label { }
.css_id_presupuesto_line {text-align:left;}
.css_id_presupuesto_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
