.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_archivo__label { }
.css_archivo__line { }
.css_archivo__obj { }
.css_fechayhora__label { }
.css_fechayhora__line { }
.css_fechayhora__obj { }
.css_id_venta__label { }
.css_id_venta__line {text-align:left;}
.css_id_venta__obj {text-align:left;}
