.css_id_presupuesto_detalle_label { }
.css_id_presupuesto_detalle_line {text-align:left;}
.css_id_presupuesto_detalle_obj {text-align:left;}
.css_id_categoria_label { }
.css_id_categoria_line {text-align:left;}
.css_id_categoria_obj {text-align:left;}
.css_presupuesto_label { }
.css_presupuesto_line {text-align:left;}
.css_presupuesto_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
