.css_numerodev_label { }
.css_numerodev_line {text-align:center;vertical-align:middle;}
.css_numerodev_obj {text-align:center;}
.css_fecha_label { }
.css_fecha_line {text-align:center;vertical-align:middle;}
.css_fecha_obj {text-align:center;}
.css_resolucion_label { }
.css_resolucion_line { }
.css_resolucion_obj { }
.css_numfacven_label { }
.css_numfacven_line { }
.css_numfacven_obj { }
.css_fechafactura_label { }
.css_fechafactura_line {text-align:center;vertical-align:middle;}
.css_fechafactura_obj {text-align:center;}
.css_vdesc_label { }
.css_vdesc_line { }
.css_vdesc_obj {text-align:right;}
.css_vparc_label { }
.css_vparc_line { }
.css_vparc_obj {text-align:right;}
.css_viva_label { }
.css_viva_line { }
.css_viva_obj {text-align:right;}
.css_vunit_label { }
.css_vunit_line { }
.css_vunit_obj {text-align:right;}
.css_observa_label { }
.css_observa_line { }
.css_observa_obj { }
.css_confirma_label { }
.css_confirma_line { }
.css_confirma_obj { }
