.css_id_recibos_formapago_label { }
.css_id_recibos_formapago_line {text-align:left;}
.css_id_recibos_formapago_obj {text-align:left;}
.css_id_formapago_label { }
.css_id_formapago_line {text-align:left;}
.css_id_formapago_obj {text-align:left;}
.css_monto_label { }
.css_monto_line {text-align:left;}
.css_monto_obj {text-align:left;}
.css_nombre_banco_label { }
.css_nombre_banco_line { }
.css_nombre_banco_obj { }
.css_numero_cheque_label { }
.css_numero_cheque_line { }
.css_numero_cheque_obj { }
.css_fecha_cheque_label { }
.css_fecha_cheque_line { }
.css_fecha_cheque_obj { }
.css_id_banco_caja_label { }
.css_id_banco_caja_line {text-align:left;}
.css_id_banco_caja_obj {text-align:left;}
