.css_id_tipo_producto__label {text-align:right;}
.css_id_tipo_producto__line {text-align:left;}
.css_id_tipo_producto__obj {text-align:left;}
.css_codigo_tp__label { }
.css_codigo_tp__line { }
.css_codigo_tp__obj { }
.css_descripcion_tp__label { }
.css_descripcion_tp__line { }
.css_descripcion_tp__obj { }
