.css_codigo__label { }
.css_codigo__line {text-align:right;}
.css_codigo__obj {text-align:right;}
.css_porcntajeauto__label {text-align:left;}
.css_porcntajeauto__line {text-align:left;}
.css_porcntajeauto__obj {text-align:right;}
.css_actividad__label { }
.css_actividad__line { }
.css_actividad__obj { }
