.css_nurecibo_label { }
.css_nurecibo_line {text-align:left;}
.css_nurecibo_obj {text-align:left;}
.css_nufac_label { }
.css_nufac_line {text-align:left;}
.css_nufac_obj {text-align:left;}
.css_cliente_label { }
.css_cliente_line {text-align:left;}
.css_cliente_obj {text-align:left;}
.css_fecharecibo_label { }
.css_fecharecibo_line { }
.css_fecharecibo_obj {text-align:center;}
.css_monto_label { }
.css_monto_line {text-align:left;}
.css_monto_obj {text-align:right;}
.css_son_label { }
.css_son_line { }
.css_son_obj { }
.css_saldofac_label { }
.css_saldofac_line {text-align:left;}
.css_saldofac_obj {text-align:right;}
.css_formapago_label { }
.css_formapago_line { }
.css_formapago_obj { }
.css_numcheque_label { }
.css_numcheque_line { }
.css_numcheque_obj { }
.css_banco_label { }
.css_banco_line { }
.css_banco_obj { }
.css_numtarjeta_label { }
.css_numtarjeta_line { }
.css_numtarjeta_obj { }
.css_nombreobanco_label { }
.css_nombreobanco_line { }
.css_nombreobanco_obj { }
.css_obser_label { }
.css_obser_line { }
.css_obser_obj { }
.css_concepto_label { }
.css_concepto_line { }
.css_concepto_obj { }
.css_resolucion_label { }
.css_resolucion_line {text-align:left;}
.css_resolucion_obj {text-align:left;}
