.css_id_linea__label {text-align:right;}
.css_id_linea__line {text-align:left;}
.css_id_linea__obj {text-align:left;}
.css_cod_linea__label {text-align:center;vertical-align:middle;}
.css_cod_linea__line {text-align:center;}
.css_cod_linea__obj { }
.css_nombre_linea__label {text-align:center;vertical-align:middle;}
.css_nombre_linea__line { }
.css_nombre_linea__obj { }
.css_presupuesto_venta__label { }
.css_presupuesto_venta__line {text-align:left;}
.css_presupuesto_venta__obj {text-align:left;}
.css_tienda__label { }
.css_tienda__line { }
.css_tienda__obj { }
