.css_id_prefijo__label { }
.css_id_prefijo__line {text-align:left;}
.css_id_prefijo__obj {text-align:left;}
.css_elprefijo__label { }
.css_elprefijo__line { }
.css_elprefijo__obj { }
.css_comentario__label { }
.css_comentario__line { }
.css_comentario__obj { }
