/*****************************************/
/* clases relativas a contenedores       */
#pagina {
    background-color:#fff;
    font-family: helvetica;
    font-size:8pt;
}

#zonaLogo {
    position:absolute;
    top:0em;
    left:0em;
    width:20%;
    height:150px;
    background-color:#fff;
    text-align:center;
    vertical-align:middle;
}
#zonaMenu {
    position:absolute;
    top:150px;
    left:0em;
    width:80%;
    height:100%;
    background-color:#fff;	
}
#zonaContenido {
    position:absolute;
    top:0em;
    left:0%;
    width:98%;
    height:100%;
}
#localizacion {
    position:relative;
    top:3%;
    left:1%;
    width:100%;
}
#tituloForm {
    position:relative;
    top:4%;
    left:1%;
    width:80%;
}

#frmBusqueda {
    position:relative;
    top:5%;
    left:1%;
    width:80%;
    text-transform:uppercase;
    background-color:#f5f5f5;
    border-top:solid 1px #dcdcdc;
    border-left:solid 1px #dcdcdc;
    border-right:solid 1px #696969;
    border-bottom:solid 1px #696969;
}

#frmBusqueda2 {
    position:relative;
    top:5%;
    left:1%;
    width:80%;
    text-transform:uppercase;
    background-color:#f5f5f5;
    border-top:solid 1px #dcdcdc;
    border-left:solid 1px #dcdcdc;
    border-right:solid 1px #696969;
    border-bottom:solid 1px #696969;
}

#frmBusqueda3 {
    position:relative;
    top:5%;
    left:1%;
    width:80%;
    text-transform:uppercase;
    background-color:#f5f5f5;
    border-top:solid 1px #dcdcdc;
    border-left:solid 1px #dcdcdc;
    border-right:solid 1px #696969;
    border-bottom:solid 1px #696969;
}

#frmBusqueda4 {
    position:relative;
    top:5%;
    left:1%;
    width:80%;
    text-transform:uppercase;
    background-color:#f5f5f5;
    border-top:solid 1px #dcdcdc;
    border-left:solid 1px #dcdcdc;
    border-right:solid 1px #696969;
    border-bottom:solid 1px #696969;
}

#frmBusqueda5 {
    position:relative;
    top:5%;
    left:1%;
    width:80%;
    text-transform:uppercase;
    background-color:#f5f5f5;
    border-top:solid 1px #dcdcdc;
    border-left:solid 1px #dcdcdc;
    border-right:solid 1px #696969;
    border-bottom:solid 1px #696969;
}

#cuadroTotales {
    position:relative;
    top:5%;
    background-color:#f5f5f5;
    text-transform:uppercase;
    border-top:solid 1px #dcdcdc;
    border-left:solid 1px #dcdcdc;
    border-right:solid 1px #696969;
    border-bottom:solid 1px #696969;
}

#frmBusqueda li {
    list-style-image:url(../img/error2.png);
    color:#000;
    text-transform:uppercase;
    text-align:left;
    height:20px;
    vertical-align:middle;
}

#botonBusqueda {
    position:relative;
    top:5%;
    left:1%;
    width:80%;	
    text-align:right;
    margin-top:.5em;
    padding-top:1em;
    /*	border-top:solid 1px #696969;	*/
}

#botonBusqueda2 {
    position:relative;
    top:5%;
    left:1%;
    width:80%;	
    text-align:right;
    margin-top:.5em;
    padding-top:1em;
    /*	border-top:solid 1px #696969;	*/
}

#botonBusqueda5 {
    position:relative;
    top:5%;
    left:1%;
    width:80%;	
    text-align:right;
    margin-top:.5em;
    padding-top:1em;
    /*	border-top:solid 1px #696969;	*/
}

#lineaResultado {
    position:relative;
    top:10%;
    left:1%;
    width:100%;	
}
#cabeceraResultado {
    position:relative;
    top:11%;
    left:1%;
    width:80%;	
}
.totalResultado  {
    background-color:#ff8c00;
    color:#fff;
}
#frmResultado {
    position:relative;
    top:11%;
    left:1%;
    width:80%;
    text-transform:uppercase;
    /*
            background-color:#f5f5f5;
            border-top:solid 1px #dcdcdc;
            border-left:solid 1px #dcdcdc;
            border-right:solid 1px #696969;
            border-bottom:solid 1px #696969;
    */
}
/*****************************************/
/* clases relativas a tablas             */
.header {
    background-color:#01cc00;
    color:#fff;
    text-align:center;
    font-weight:bold;
    height:20px;
    vertical-align:middle;
    text-transform:uppercase;
}
.mensaje {
    background-color: #666666;
    color:#fff;
    text-align:center;
    font-weight:bold;
    height:20px;
    vertical-align:middle;
    text-transform:uppercase;
}
.mensajeminimo {
    background-color: #FF0000;
    color:#fff;
    text-align:center;
    font-weight:bold;
    height:20px;
    vertical-align:middle;
    text-transform:uppercase;
}
.cabeceraTabla {
    background-color:#5f5f5f;
    color:#fff;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
}
.itemParTabla {
    background-color:#ccc;
    text-transform:uppercase;
}
.itemImparTabla {
    background-color:#f5f5f5;
    text-transform:uppercase;
}
/*****************************************/
/* clases relativas a hiperenlace        */
a:link {
    font:8pt verdana,arial;
    color:#000;
}
a:visited {
    font:8pt verdana,arial;
    color:#000;
}
a:hover {
    font:8pt verdana,arial;
    color:#ff8c00;
}
/*****************************************/
/* clases relativas a la fuente de texto */
.fuente8 {
    font:8pt helvetica;	
    text-transform:uppercase;	
}
.aDerecha {
    text-align:right;
    text-transform:uppercase;
}
.aCentro {
    text-align:center;
    text-transform:uppercase;
}
/*****************************************/
/* clases relativas a objetos            */
.boton {
    color:#000;
    background-color:#dcdcdc;
    border-style:solid;
    border-color:#696969;
    border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:90px;
    height:15pt;
}

.botonprov {
    color:#000;
    background-color:#dcdcdc;
    border-style:solid;
    border-color:#696969;
    border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:130px;
    height:15pt;
}

.cajaPequena {
    background-color:#FFFFD9;
    font:8pt helvetica;	
    color:#000;
    width:75px;
    border-color:#696969;	
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaEntrada {
    background-color:#FFD1A4;
    font:8pt helvetica;	
    color:#000;
    width:75px;
    border-color:#696969;	
    border-style :solid;
    border-width :1px;
    height:10pt;
    text-transform:uppercase;
}

.cajaPequenaR {
    background-color: #C0C0C0;
    font:8pt helvetica;	
    color:#FFFFFF;
    width:75px;
    border-color:#696969;	
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaTotales {
    background-color:#FFFFD9;
    font:8pt helvetica;	
    color:#000;
    width:75px;
    border-color:#696969;	
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-align:right;
    text-transform:uppercase;
}

.cajaMedia {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:150px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaMediaR {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#FFF;
    width:150px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaMediaRR {
    background-color: #FFB6C1;
    font:8pt helvetica;
    color:#FFF;
    width:150px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaMediaRV {
    background-color: #E0FFFF;
    font:8pt helvetica;
    color:#000;
    width:150px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaInicial {
    background-color:#FFBA24;
    font:8pt helvetica;
    color:#FFF;
    width:150px;
    border-color:#D89400;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaGrande {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:250px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaGrandeR {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#FFF;
    width:250px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaExtraGrande {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:750px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaExtraGrandeR {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#FFF;
    width:750px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}

.cajaExtraGrandeRFP {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#FFF;
    width:600px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.comboPequeno {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:75px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.comboMedio {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:150px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.comboGrande {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:250px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.comboPequenoR {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#fff;
    width:75px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.comboMedioR {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#fff;
    width:150px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.comboGrandeR {
    background-color:#C0C0C0;
    font:8pt helvetica;
    color:#fff;
    width:250px;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    height:15pt;
    text-transform:uppercase;
}
.area {
    background-color:#FFFFD9;
    font:8pt helvetica;
    color:#000;
    width:97%;
    border-color:#696969;
    border-style :solid;
    border-width :1px;
    text-transform:uppercase;
}

.bgtransparent{
    position:fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color:#000;
    opacity:0.6;
    filter:alpha(opacity=80);
    z-index: 1;
    display: none;
}

.capaproveedores{
    position:absolute;
    top:20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
    height: 300px;
    width: 600px;
    background-color: white;
    z-index: 2;
    display: none;
}
