.css_id_concepto_label { }
.css_id_concepto_line {text-align:left;}
.css_id_concepto_obj {text-align:left;}
.css_concepto_label { }
.css_concepto_line { }
.css_concepto_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_np_label { }
.css_np_line { }
.css_np_obj { }
