.css_terceros_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_terceros_grid_line {text-align: center;}
.css_productos_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_productos_grid_line {text-align: center;}
.css_ventas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ventas_grid_line {text-align: center;}
.css_empresa_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_grid_line {text-align: center;}
