.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_prefijo__label { }
.css_prefijo__line { }
.css_prefijo__obj { }
.css_primerfactura__label {text-align:center;vertical-align:middle;}
.css_primerfactura__line {text-align:center;vertical-align:middle;width:80px;}
.css_primerfactura__obj {text-align:center;}
.css_nombre_pc__label { }
.css_nombre_pc__line { }
.css_nombre_pc__obj { }
.css_nombre_impre__label { }
.css_nombre_impre__line { }
.css_nombre_impre__obj { }
.css_fec_vencimiento__label { }
.css_fec_vencimiento__line { }
.css_fec_vencimiento__obj { }
