.css_idsucursal_det_label {text-align: left;vertical-align: middle;}
.css_idsucursal_det_line {height:0px;text-align: left;}
.css_sucursal_det_label {text-align: left;vertical-align: middle;}
.css_sucursal_det_line {height:0px;text-align: left;}
.css_idtercero_det_label {text-align: left;vertical-align: middle;}
.css_idtercero_det_line {height:0px;text-align: left;}
.css_direccion_det_label {text-align: left;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: left;}
.css_departamento_det_label {text-align: left;vertical-align: middle;}
.css_departamento_det_line {height:0px;text-align: left;}
.css_municipio_det_label {text-align: left;vertical-align: middle;}
.css_municipio_det_line {height:0px;text-align: left;}
.css_telefono_det_label {text-align: left;vertical-align: middle;}
.css_telefono_det_line {height:0px;text-align: left;}
