.css_id_cloud_tercero_label { }
.css_id_cloud_tercero_line {text-align:left;}
.css_id_cloud_tercero_obj {text-align:left;}
.css_documento_label { }
.css_documento_line { }
.css_documento_obj { }
.css_nombres_label { }
.css_nombres_line { }
.css_nombres_obj { }
.css_id_empresa_label { }
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_cod_pais_label { }
.css_cod_pais_line { }
.css_cod_pais_obj { }
.css_cod_departamento_label { }
.css_cod_departamento_line { }
.css_cod_departamento_obj {text-align:center;}
.css_cod_municipio_label { }
.css_cod_municipio_line { }
.css_cod_municipio_obj {text-align:center;}
.css_cod_postal_label { }
.css_cod_postal_line { }
.css_cod_postal_obj {text-align:center;}
.css_cod_lenguaje_label { }
.css_cod_lenguaje_line { }
.css_cod_lenguaje_obj { }
.css_cod_regimen_label { }
.css_cod_regimen_line {text-align:left;}
.css_cod_regimen_obj {text-align:left;}
.css_detalle_tributario_label { }
.css_detalle_tributario_line { }
.css_detalle_tributario_obj { }
.css_responsabilidades_fiscales_label { }
.css_responsabilidades_fiscales_line { }
.css_responsabilidades_fiscales_obj { }
