.css_id_consecutivo_label { }
.css_id_consecutivo_line {text-align:left;}
.css_id_consecutivo_obj {text-align:left;}
.css_tipodoc_label { }
.css_tipodoc_line { }
.css_tipodoc_obj { }
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj { }
.css_numero_label {text-align:;}
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
.css_doc_tns_label { }
.css_doc_tns_line { }
.css_doc_tns_obj { }
