.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj {text-align:center;width:50px;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj {width:120px;}
.css_cod_zona__label { }
.css_cod_zona__line { }
.css_cod_zona__obj { }
