.css_id_dispositivo__label { }
.css_id_dispositivo__line {text-align:left;}
.css_id_dispositivo__obj {text-align:left;}
.css_codigo_dispositivo__label { }
.css_codigo_dispositivo__line { }
.css_codigo_dispositivo__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_serial__label { }
.css_serial__line { }
.css_serial__obj { }
.css_marca__label { }
.css_marca__line { }
.css_marca__obj { }
