.css_id_detalle__label {text-align:right;}
.css_id_detalle__line {text-align:left;}
.css_id_detalle__obj {text-align:left;}
.css_id_contrato__label {text-align:right;}
.css_id_contrato__line {text-align:left;}
.css_id_contrato__obj {text-align:left;}
.css_id_producto__label { }
.css_id_producto__line { }
.css_id_producto__obj {width:200px;}
.css_valor_mensualidad__label {text-align:left;vertical-align:middle;}
.css_valor_mensualidad__line {text-align:right;}
.css_valor_mensualidad__obj {text-align:right;}
.css_cantidad__label { }
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:left;}
.css_valorunit__label { }
.css_valorunit__line {text-align:left;}
.css_valorunit__obj {text-align:left;}
.css_valor_imp__label { }
.css_valor_imp__line {text-align:left;}
.css_valor_imp__obj {text-align:left;}
.css_tarifa_imp__label { }
.css_tarifa_imp__line {text-align:left;}
.css_tarifa_imp__obj {text-align:left;}
.css_codigo_imp__label { }
.css_codigo_imp__line { }
.css_codigo_imp__obj { }
.css_desc_imp__label { }
.css_desc_imp__line { }
.css_desc_imp__obj { }
.css_descr__label { }
.css_descr__line { }
.css_descr__obj { }
.css_cod_producto__label { }
.css_cod_producto__line { }
.css_cod_producto__obj { }
.css_rec_terc__label { }
.css_rec_terc__line { }
.css_rec_terc__obj { }
