.css_tercero__label {text-align:left;}
.css_tercero__line {text-align:left;}
.css_tercero__obj {text-align:left;}
.css_contacto__label {text-align:right;}
.css_contacto__line {text-align:left;}
.css_contacto__obj {text-align:left;}
