.css_productos_label { }
.css_productos_line {text-align:center;}
.css_productos_obj {text-align:center;}
.css_terceros_label { }
.css_terceros_line {text-align:center;}
.css_terceros_obj {text-align:center;}
.css_ventas_label { }
.css_ventas_line {text-align:center;}
.css_ventas_obj {text-align:center;}
.css_compras_label { }
.css_compras_line {text-align:center;}
.css_compras_obj {text-align:center;}
.css_copias_label { }
.css_copias_line {text-align:center;}
.css_copias_obj {text-align:center;}
.css_empresa_label { }
.css_empresa_line {text-align:center;}
.css_empresa_obj {text-align:center;}
.css_pagos_label { }
.css_pagos_line {text-align:center;}
.css_pagos_obj {text-align:center;}
.css_cobros_label { }
.css_cobros_line {text-align:center;}
.css_cobros_obj {text-align:center;}
.css_notas_credito_label { }
.css_notas_credito_line {text-align:center;}
.css_notas_credito_obj {text-align:center;}
.css_contratos_label { }
.css_contratos_line {text-align:center;}
.css_contratos_obj {text-align:center;}
.css_agenda_label { }
.css_agenda_line {text-align:center;}
.css_agenda_obj {text-align:center;}
.css_indices_label { }
.css_indices_line {text-align:center;}
.css_indices_obj {text-align:center;}
.css_inventario_label { }
.css_inventario_line {text-align:center;}
.css_inventario_obj {text-align:center;}
.css_documentos_label { }
.css_documentos_line {text-align:center;}
.css_documentos_obj {text-align:center;}
.css_ventas_usuario_label { }
.css_ventas_usuario_line {text-align:center;}
.css_ventas_usuario_obj {text-align:center;}
