.css_idapp_label {text-align:;}
.css_idapp_line {text-align:left;}
.css_idapp_obj {text-align:left;}
.css_app_name_label { }
.css_app_name_line { }
.css_app_name_obj { }
.css_app_name2_label { }
.css_app_name2_line { }
.css_app_name2_obj { }
.css_idapptype_label { }
.css_idapptype_line {text-align:left;}
.css_idapptype_obj {text-align:left;}
.css_description_label { }
.css_description_line { }
.css_description_obj { }
.css_app_order_label {text-align:;}
.css_app_order_line {text-align:left;}
.css_app_order_obj {text-align:left;}
.css_app_parentid_label { }
.css_app_parentid_line {text-align:left;}
.css_app_parentid_obj {text-align:left;}
.css_app_link_label { }
.css_app_link_line { }
.css_app_link_obj { }
.css_app_icon_label { }
.css_app_icon_line { }
.css_app_icon_obj { }
.css_app_badge_label { }
.css_app_badge_line { }
.css_app_badge_obj { }
.css_color_label { }
.css_color_line { }
.css_color_obj { }
