.css_cufe_label { }
.css_cufe_line { }
.css_cufe_obj { }
.css_enlacepdf_label { }
.css_enlacepdf_line { }
.css_enlacepdf_obj { }
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_avisos_label { }
.css_avisos_line { }
.css_avisos_obj { }
.css_qr_base64_label { }
.css_qr_base64_line { }
.css_qr_base64_obj { }
.css_fecha_validacion_label { }
.css_fecha_validacion_line { }
.css_fecha_validacion_obj { }
.css_id_trans_fe_label { }
.css_id_trans_fe_line { }
.css_id_trans_fe_obj { }
.css_proveedor_label { }
.css_proveedor_line { }
.css_proveedor_obj { }
.css_token_label { }
.css_token_line { }
.css_token_obj { }
.css_password_label { }
.css_password_line { }
.css_password_obj { }
.css_servidor_label { }
.css_servidor_line { }
.css_servidor_obj { }
.css_advertencia_label { }
.css_advertencia_line {color:#FF3300;font-weight:bold;}
.css_advertencia_obj {color:#FF3300;font-weight:bold;}
