.css_documento_label { }
.css_documento_line { }
.css_documento_obj { }
.css_nombres_label { }
.css_nombres_line { }
.css_nombres_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_tel_cel_label { }
.css_tel_cel_line {background-color:#66FF66;}
.css_tel_cel_obj { }
.css_sexo_label { }
.css_sexo_line { }
.css_sexo_obj { }
.css_urlmail_label { }
.css_urlmail_line {background-color:#66FF66;}
.css_urlmail_obj { }
.css_idmuni_label { }
.css_idmuni_line {text-align:left;}
.css_idmuni_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line {background-color:#FFFF99;}
.css_observaciones_obj {text-align:left;}
.css_credito_label { }
.css_credito_line {background-color:#DFFFFF;}
.css_credito_obj { }
.css_cupo_label { }
.css_cupo_line {background-color:#DFFFFF;text-align:left;}
.css_cupo_obj {text-align:right;}
.css_loatiende_label { }
.css_loatiende_line {background-color:#DFFFFF;text-align:left;}
.css_loatiende_obj { }
.css_regimen_label { }
.css_regimen_line { }
.css_regimen_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_cliente_label { }
.css_cliente_line {background-color:#DFFFFF;text-align:center;}
.css_cliente_obj {text-align:center;}
.css_tipo_documento_label { }
.css_tipo_documento_line { }
.css_tipo_documento_obj { }
.css_dv_label { }
.css_dv_line {text-align:center;}
.css_dv_obj {text-align:left;}
.css_nombre1_label { }
.css_nombre1_line { }
.css_nombre1_obj { }
.css_nombre2_label { }
.css_nombre2_line { }
.css_nombre2_obj { }
.css_apellido1_label { }
.css_apellido1_line { }
.css_apellido1_obj { }
.css_apellido2_label { }
.css_apellido2_line { }
.css_apellido2_obj { }
.css_representante_label { }
.css_representante_line { }
.css_representante_obj { }
.css_imagenter_label {vertical-align:middle;}
.css_imagenter_line {vertical-align:middle;}
.css_imagenter_obj { }
.css_es_restaurante_label { }
.css_es_restaurante_line {background-color:#66FF99;text-align:center;}
.css_es_restaurante_obj {text-align:center;}
.css_departamento_label { }
.css_departamento_line { }
.css_departamento_obj { }
