.css_id_marca__label {text-align:right;}
.css_id_marca__line {text-align:left;}
.css_id_marca__obj {text-align:left;}
.css_cod_marca__label {text-align:center;vertical-align:middle;}
.css_cod_marca__line {text-align:center;}
.css_cod_marca__obj { }
.css_nombre_marca__label {text-align:center;vertical-align:middle;}
.css_nombre_marca__line { }
.css_nombre_marca__obj { }
