.css_id_historial_crm_det_label {text-align: right;vertical-align: middle;}
.css_id_historial_crm_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_tipo_det_label {text-align: right;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: right;}
.css_notas_det_label {text-align: right;vertical-align: middle;}
.css_notas_det_line {height:0px;text-align: right;}
.css_asesor_det_label {text-align: right;vertical-align: middle;}
.css_asesor_det_line {height:0px;text-align: right;}
.css_motivo_det_label {text-align: right;vertical-align: middle;}
.css_motivo_det_line {height:0px;text-align: right;}
.css_creado_det_label {text-align: right;vertical-align: middle;}
.css_creado_det_line {height:0px;text-align: right;}
.css_editado_det_label {text-align: right;vertical-align: middle;}
.css_editado_det_line {height:0px;text-align: right;}
.css_atendido_det_label {text-align: right;vertical-align: middle;}
.css_atendido_det_line {height:0px;text-align: right;}
.css_id_contacto_tercero_det_label {text-align: right;vertical-align: middle;}
.css_id_contacto_tercero_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
