.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_tipodoc_label { }
.css_tipodoc_line { }
.css_tipodoc_obj {width:160px;}
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj {width:160px;}
.css_numero_label { }
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:center;width:137px;}
.css_notas_label { }
.css_notas_line { }
.css_notas_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj {text-align:center;width:137px;}
.css_asentada_label { }
.css_asentada_line { }
.css_asentada_obj { }
.css_total_debito_label { }
.css_total_debito_line {text-align:left;}
.css_total_debito_obj {text-align:center;width:137px;}
.css_total_credito_label { }
.css_total_credito_line {text-align:left;}
.css_total_credito_obj {text-align:center;width:137px;}
.css_periodo_label { }
.css_periodo_line {text-align:left;}
.css_periodo_obj {text-align:left;}
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_tercero_label { }
.css_tercero_line {text-align:left;}
.css_tercero_obj {text-align:left;}
.css_creado_label { }
.css_creado_line { }
.css_creado_obj { }
.css_actualizado_label { }
.css_actualizado_line { }
.css_actualizado_obj { }
.css_importado_label { }
.css_importado_line { }
.css_importado_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
