.css_objeto__label { }
.css_objeto__line { }
.css_objeto__obj { }
.css_tipo__label { }
.css_tipo__line { }
.css_tipo__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_ubicacion__label { }
.css_ubicacion__line { }
.css_ubicacion__obj { }
.css_ver__label { }
.css_ver__line { }
.css_ver__obj { }
.css_crear__label { }
.css_crear__line { }
.css_crear__obj { }
.css_editar__label { }
.css_editar__line { }
.css_editar__obj { }
.css_eliminar__label { }
.css_eliminar__line { }
.css_eliminar__obj { }
