.css_soporte__label { }
.css_soporte__line { }
.css_soporte__obj { }
.css_nombre_archivo__label { }
.css_nombre_archivo__line { }
.css_nombre_archivo__obj { }
.css_tamanio_archivo__label { }
.css_tamanio_archivo__line { }
.css_tamanio_archivo__obj { }
