.css_NM_Count_cnt_field {text-align: right}
.css_cantidad_sum_label {text-align: right; vertical-align: top}
.css_cantidad_sum_field {text-align: right; vertical-align: top}
.css_valor_parcial_sum_label {text-align: right; vertical-align: top}
.css_valor_parcial_sum_field {text-align: right; vertical-align: top}
.css_costop_sum_label {text-align: right; vertical-align: top}
.css_costop_sum_field {text-align: right; vertical-align: top}
.css_gananciap_sum_label {text-align: right; vertical-align: top}
.css_gananciap_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
