.css_NM_Count_cnt_field {text-align: right}
.css_ingresos_sum_label {text-align: right; vertical-align: top}
.css_ingresos_sum_field {text-align: right; vertical-align: top}
.css_egresos_sum_label {text-align: right; vertical-align: top}
.css_egresos_sum_field {text-align: right; vertical-align: top}
.css_diferencia_sum_label {text-align: right; vertical-align: top}
.css_diferencia_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
