.css_numfac__label {text-align:right;}
.css_numfac__line {text-align:left;}
.css_numfac__obj {text-align:left;}
.css_idpro__label {text-align:left;}
.css_idpro__line {text-align:left;}
.css_idpro__obj {text-align:left;}
.css_cantidad__label {text-align:right;}
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:center;}
.css_valorunit__label {text-align:right;}
.css_valorunit__line {text-align:left;}
.css_valorunit__obj {text-align:right;}
.css_valorpar__label {text-align:right;}
.css_valorpar__line {text-align:left;}
.css_valorpar__obj {text-align:right;}
.css_obs__label { }
.css_obs__line { }
.css_obs__obj { }
.css_descr__label { }
.css_descr__line { }
.css_descr__obj { }
.css_tbase__label {text-align:right;}
.css_tbase__line {text-align:left;}
.css_tbase__obj {text-align:left;}
.css_tneto__label {text-align:right;}
.css_tneto__line {text-align:left;}
.css_tneto__obj {text-align:left;}
