.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_tipodoc__label { }
.css_tipodoc__line { }
.css_tipodoc__obj { }
