.css_id_caso_det_label {text-align: left;vertical-align: middle;}
.css_id_caso_det_line {height:0px;text-align: left;}
.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_numero_det_label {text-align: left;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: left;}
.css_codigo_cliente_det_label {text-align: left;vertical-align: middle;}
.css_codigo_cliente_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_prioridad_det_label {text-align: left;vertical-align: middle;}
.css_prioridad_det_line {height:0px;text-align: left;}
.css_tipo_caso_det_label {text-align: left;vertical-align: middle;}
.css_tipo_caso_det_line {height:0px;text-align: left;}
.css_medio_det_label {text-align: left;vertical-align: middle;}
.css_medio_det_line {height:0px;text-align: left;}
.css_observaciones_det_label {text-align: left;vertical-align: middle;}
.css_observaciones_det_line {height:0px;text-align: left;}
.css_asignado_tercero_det_label {text-align: left;vertical-align: middle;}
.css_asignado_tercero_det_line {height:0px;text-align: left;}
.css_fecha_asignacion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_asignacion_det_line {height:0px;text-align: left;}
.css_fecha_cierre_det_label {text-align: left;vertical-align: middle;}
.css_fecha_cierre_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
.css_cedula_tercero_det_label {text-align: left;vertical-align: middle;}
.css_cedula_tercero_det_line {height:0px;text-align: left;}
.css_notificado_det_label {text-align: left;vertical-align: middle;}
.css_notificado_det_line {height:0px;text-align: left;}
.css_zona_det_label {text-align: left;vertical-align: middle;}
.css_zona_det_line {height:0px;text-align: left;}
.css_factura_det_label {text-align: left;vertical-align: middle;}
.css_factura_det_line {height:0px;text-align: left;}
