.css_factura_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: right;}
.css_valor_factura_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_factura_grid_line {vertical-align: top;text-align: right;}
.css_valor_pagado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_pagado_grid_line {vertical-align: top;text-align: right;}
.css_saldo_factura_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_factura_grid_line {vertical-align: top;text-align: right;}
.css_id_detalle_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_detalle_grid_line {vertical-align: top;text-align: right;}
.css_id_recibo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_recibo_grid_line {vertical-align: top;text-align: right;}
