.css_f_fechaven_det_label {text-align: right;vertical-align: middle;}
.css_f_fechaven_det_line {height:0px;text-align: right;}
.css_factura_det_label {text-align: right;vertical-align: middle;}
.css_factura_det_line {height:0px;text-align: right;}
.css_cliente_det_label {text-align: right;vertical-align: middle;}
.css_cliente_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_producto_det_label {text-align: right;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: right;}
.css_d_cantidad_det_label {text-align: right;vertical-align: middle;}
.css_d_cantidad_det_line {height:0px;text-align: right;}
.css_und_det_label {text-align: right;vertical-align: middle;}
.css_und_det_line {height:0px;text-align: right;}
.css_asesor_det_label {text-align: right;vertical-align: middle;}
.css_asesor_det_line {height:0px;text-align: right;}
.css_periodo_det_label {text-align: right;vertical-align: middle;}
.css_periodo_det_line {height:0px;text-align: right;}
