.css_NM_Count_cnt_field {text-align: right}
.css_adicional_sum_label {text-align: right; vertical-align: top}
.css_adicional_sum_field {text-align: right; vertical-align: top}
.css_total_sum_label {text-align: right; vertical-align: top}
.css_total_sum_field {text-align: right; vertical-align: top}
