.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj { }
.css_numero_label { }
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
.css_tercero_label { }
.css_tercero_line { }
.css_tercero_obj { }
.css_fac_devuelta_label { }
.css_fac_devuelta_line { }
.css_fac_devuelta_obj { }
