.css_id_empresa_label { }
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_ccnit_label { }
.css_ccnit_line { }
.css_ccnit_obj { }
.css_nombre_razonsocial_label { }
.css_nombre_razonsocial_line { }
.css_nombre_razonsocial_obj { }
.css_celular_label { }
.css_celular_line { }
.css_celular_obj { }
.css_correo_label { }
.css_correo_line { }
.css_correo_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_codsucursal_label { }
.css_codsucursal_line { }
.css_codsucursal_obj { }
.css_cantidaddecimales_label { }
.css_cantidaddecimales_line {text-align:left;}
.css_cantidaddecimales_obj {text-align:left;}
.css_valortributounidad_label { }
.css_valortributounidad_line { }
.css_valortributounidad_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_conf_auto_tercero_label { }
.css_conf_auto_tercero_line { }
.css_conf_auto_tercero_obj { }
.css_no_validar_mail_label { }
.css_no_validar_mail_line { }
.css_no_validar_mail_obj { }
.css_email_alternativo_label { }
.css_email_alternativo_line { }
.css_email_alternativo_obj { }
.css_servidor1_label { }
.css_servidor1_line { }
.css_servidor1_obj { }
.css_servidor2_label { }
.css_servidor2_line { }
.css_servidor2_obj { }
.css_servidor3_label { }
.css_servidor3_line { }
.css_servidor3_obj { }
.css_tokenempresa_label { }
.css_tokenempresa_line { }
.css_tokenempresa_obj { }
.css_tokenpassword_label { }
.css_tokenpassword_line { }
.css_tokenpassword_obj { }
.css_servidor1_pruebas_label { }
.css_servidor1_pruebas_line { }
.css_servidor1_pruebas_obj { }
.css_servidor2_pruebas_label { }
.css_servidor2_pruebas_line { }
.css_servidor2_pruebas_obj { }
.css_servidor3_pruebas_label { }
.css_servidor3_pruebas_line { }
.css_servidor3_pruebas_obj { }
.css_token_pruebas_label { }
.css_token_pruebas_line { }
.css_token_pruebas_obj { }
.css_password_pruebas_label { }
.css_password_pruebas_line { }
.css_password_pruebas_obj { }
.css_modo_label { }
.css_modo_line { }
.css_modo_obj { }
.css_smtp_servidor_label { }
.css_smtp_servidor_line { }
.css_smtp_servidor_obj { }
.css_smtp_usuario_label { }
.css_smtp_usuario_line { }
.css_smtp_usuario_obj { }
.css_smtp_password_label { }
.css_smtp_password_line { }
.css_smtp_password_obj { }
.css_smtp_puerto_label { }
.css_smtp_puerto_line {text-align:left;}
.css_smtp_puerto_obj {text-align:left;}
.css_smtp_tipo_label { }
.css_smtp_tipo_line { }
.css_smtp_tipo_obj { }
.css_asunto_label { }
.css_asunto_line { }
.css_asunto_obj { }
.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
.css_correo_para_prueba_label { }
.css_correo_para_prueba_line { }
.css_correo_para_prueba_obj { }
.css_logo_label { }
.css_logo_line { }
.css_logo_obj { }
.css_enviar_documento_online_label { }
.css_enviar_documento_online_line { }
.css_enviar_documento_online_obj { }
.css_contacto_nombre_label { }
.css_contacto_nombre_line { }
.css_contacto_nombre_obj { }
.css_contacto_cargo_label { }
.css_contacto_cargo_line { }
.css_contacto_cargo_obj { }
.css_contacto_correo_label { }
.css_contacto_correo_line { }
.css_contacto_correo_obj { }
.css_contacto_celular_label { }
.css_contacto_celular_line { }
.css_contacto_celular_obj { }
.css_contacto_fijo_label { }
.css_contacto_fijo_line { }
.css_contacto_fijo_obj { }
.css_servidor_facturas_label { }
.css_servidor_facturas_line { }
.css_servidor_facturas_obj { }
.css_correo_copia_label { }
.css_correo_copia_line { }
.css_correo_copia_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_ciudad_label { }
.css_ciudad_line { }
.css_ciudad_obj { }
.css_pagina_web_label { }
.css_pagina_web_line { }
.css_pagina_web_obj { }
.css_actividad_principal_label { }
.css_actividad_principal_line { }
.css_actividad_principal_obj { }
.css_regimen_label { }
.css_regimen_line { }
.css_regimen_obj { }
.css_desviar_correo_a_label { }
.css_desviar_correo_a_line { }
.css_desviar_correo_a_obj { }
.css_pie_pagina_label { }
.css_pie_pagina_line { }
.css_pie_pagina_obj { }
.css_mensaje_nc_label { }
.css_mensaje_nc_line { }
.css_mensaje_nc_obj { }
.css_pie_pagina_nc_label { }
.css_pie_pagina_nc_line { }
.css_pie_pagina_nc_obj { }
.css_servidor_nc_label { }
.css_servidor_nc_line { }
.css_servidor_nc_obj { }
.css_informacion_adicional_label { }
.css_informacion_adicional_line { }
.css_informacion_adicional_obj { }
.css_sumarimpuestosdeldetalle_label { }
.css_sumarimpuestosdeldetalle_line { }
.css_sumarimpuestosdeldetalle_obj { }
.css_serial_label { }
.css_serial_line { }
.css_serial_obj { }
.css_nombre_pc_red_label { }
.css_nombre_pc_red_line { }
.css_nombre_pc_red_obj { }
.css_proveedor_label { }
.css_proveedor_line { }
.css_proveedor_obj { }
.css_enviar_dian_label { }
.css_enviar_dian_line {text-align:left;}
.css_enviar_dian_obj {text-align:left;}
.css_enviar_cliente_label { }
.css_enviar_cliente_line {text-align:left;}
.css_enviar_cliente_obj {text-align:left;}
.css_nit_label { }
.css_nit_line { }
.css_nit_obj { }
.css_razon_social_label { }
.css_razon_social_line { }
.css_razon_social_obj { }
.css_head_note_label { }
.css_head_note_line { }
.css_head_note_obj { }
.css_tomar_municipio_tns_label { }
.css_tomar_municipio_tns_line { }
.css_tomar_municipio_tns_obj { }
.css_validar_codcliente_tns_label { }
.css_validar_codcliente_tns_line { }
.css_validar_codcliente_tns_obj { }
.css_desactivar_xml_enlista_label { }
.css_desactivar_xml_enlista_line { }
.css_desactivar_xml_enlista_obj { }
.css_validar_correo_enlinea_label { }
.css_validar_correo_enlinea_line { }
.css_validar_correo_enlinea_obj { }
.css_url_validar_licencia_label { }
.css_url_validar_licencia_line { }
.css_url_validar_licencia_obj { }
.css_url_bouncer_label { }
.css_url_bouncer_line { }
.css_url_bouncer_obj { }
.css_apikey_bouncer_label { }
.css_apikey_bouncer_line { }
.css_apikey_bouncer_obj { }
.css_tiempo_bouncer_label { }
.css_tiempo_bouncer_line {text-align:left;}
.css_tiempo_bouncer_obj {text-align:left;}
.css_enviar_datos_establecimiento_label { }
.css_enviar_datos_establecimiento_line { }
.css_enviar_datos_establecimiento_obj { }
.css_correo_prueba_label { }
.css_correo_prueba_line { }
.css_correo_prueba_obj { }
