.css_idcol__label {text-align:left;vertical-align:middle;}
.css_idcol__line {text-align:left;}
.css_idcol__obj {text-align:left;}
.css_imagen__label { }
.css_imagen__line {text-align:center;vertical-align:middle;}
.css_imagen__obj { }
