.css_key_label { }
.css_key_line { }
.css_key_obj { }
.css_nit_label { }
.css_nit_line { }
.css_nit_obj {text-align:center;}
.css_mensaje_label {font-family:Arial, sans-serif;font-size:16px;font-weight:bold;}
.css_mensaje_line { }
.css_mensaje_obj { }
