.css_kardexid_label { }
.css_kardexid_line {text-align:left;}
.css_kardexid_obj {text-align:left;}
.css_codcomp_label { }
.css_codcomp_line { }
.css_codcomp_obj { }
.css_codprefijo_label { }
.css_codprefijo_line { }
.css_codprefijo_obj { }
.css_numero_label { }
.css_numero_line { }
.css_numero_obj { }
.css_sn_cufe_label { }
.css_sn_cufe_line { }
.css_sn_cufe_obj { }
