.css_codigobar_label { }
.css_codigobar_line { }
.css_codigobar_obj { }
.css_codigoprod_label { }
.css_codigoprod_line { }
.css_codigoprod_obj { }
.css_nompro_label { }
.css_nompro_line { }
.css_nompro_obj { }
.css_unidmaymen_label { }
.css_unidmaymen_line { }
.css_unidmaymen_obj { }
.css_unimay_label { }
.css_unimay_line { }
.css_unimay_obj {text-align:center;}
.css_unimen_label { }
.css_unimen_line { }
.css_unimen_obj {text-align:center;}
.css_costomen_label { }
.css_costomen_line { }
.css_costomen_obj {text-align:right;}
.css_recmayamen_label { }
.css_recmayamen_line { }
.css_recmayamen_obj {text-align:right;}
.css_preciomen_label { }
.css_preciomen_line { }
.css_preciomen_obj {font-weight:bold;text-align:right;}
.css_preciomen2_label { }
.css_preciomen2_line {text-align:left;}
.css_preciomen2_obj {text-align:right;}
.css_preciomen3_label { }
.css_preciomen3_line {text-align:left;}
.css_preciomen3_obj {text-align:right;}
.css_precio2_label { }
.css_precio2_line {text-align:left;}
.css_precio2_obj {text-align:right;}
.css_preciomay_label { }
.css_preciomay_line { }
.css_preciomay_obj {text-align:right;}
.css_preciofull_label { }
.css_preciofull_line {text-align:left;}
.css_preciofull_obj {text-align:right;}
.css_stockmen_label { }
.css_stockmen_line {font-size:16px;font-weight:bold;}
.css_stockmen_obj {font-size:16px;font-weight:bold;text-align:center;}
.css_idgrup_label { }
.css_idgrup_line {text-align:left;}
.css_idgrup_obj {text-align:left;}
.css_idpro1_label { }
.css_idpro1_line {text-align:left;}
.css_idpro1_obj {text-align:left;}
.css_idpro2_label { }
.css_idpro2_line {text-align:left;}
.css_idpro2_obj {text-align:left;}
.css_idiva_label { }
.css_idiva_line {text-align:left;}
.css_idiva_obj {text-align:left;}
.css_otro_label { }
.css_otro_line {text-align:left;}
.css_otro_obj {text-align:left;}
.css_otro2_label { }
.css_otro2_line { }
.css_otro2_obj {font-weight:bold;text-align:center;}
.css_precio_editable_label { }
.css_precio_editable_line { }
.css_precio_editable_obj { }
.css_maneja_tcs_lfs_label { }
.css_maneja_tcs_lfs_line { }
.css_maneja_tcs_lfs_obj { }
.css_existencia_label { }
.css_existencia_line {font-size:16px;font-weight:bold;}
.css_existencia_obj {font-size:16px;font-weight:bold;text-align:center;}
.css_multiple_escala_label { }
.css_multiple_escala_line { }
.css_multiple_escala_obj { }
.css_en_base_a_label { }
.css_en_base_a_line { }
.css_en_base_a_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_tipo_producto_label { }
.css_tipo_producto_line { }
.css_tipo_producto_obj { }
.css_costo_prom_label { }
.css_costo_prom_line {text-align:left;}
.css_costo_prom_obj {text-align:left;}
.css_u_menor_label { }
.css_u_menor_line {font-weight:bold;}
.css_u_menor_obj {font-weight:bold;text-align:center;}
.css_unidad__label { }
.css_unidad__line { }
.css_unidad__obj {text-align:center;width:70px;}
.css_unidad_ma_label { }
.css_unidad_ma_line { }
.css_unidad_ma_obj {text-align:center;width:70px;}
