.css_idtercero_label { }
.css_idtercero_line {text-align:left;}
.css_idtercero_obj {text-align:left;}
.css_documento_label { }
.css_documento_line {vertical-align:middle;width:150px;}
.css_documento_obj { }
.css_nombres_label { }
.css_nombres_line { }
.css_nombres_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_tel_cel_label { }
.css_tel_cel_line { }
.css_tel_cel_obj {width:193px;}
.css_sexo_label { }
.css_sexo_line {width:150px;}
.css_sexo_obj { }
.css_urlmail_label { }
.css_urlmail_line { }
.css_urlmail_obj { }
.css_idmuni_label { }
.css_idmuni_line {text-align:left;}
.css_idmuni_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line {text-align:left;}
.css_observaciones_obj {text-align:left;}
.css_regimen_label { }
.css_regimen_line {width:210px;}
.css_regimen_obj { }
.css_tipo_label { }
.css_tipo_line {width:150px;}
.css_tipo_obj { }
.css_tipo_documento_label { }
.css_tipo_documento_line {vertical-align:middle;width:270px;}
.css_tipo_documento_obj { }
.css_dv_label { }
.css_dv_line {text-align:left;vertical-align:middle;}
.css_dv_obj {text-align:left;}
.css_nombre1_label { }
.css_nombre1_line { }
.css_nombre1_obj { }
.css_nombre2_label { }
.css_nombre2_line { }
.css_nombre2_obj { }
.css_apellido1_label { }
.css_apellido1_line { }
.css_apellido1_obj { }
.css_apellido2_label { }
.css_apellido2_line { }
.css_apellido2_obj { }
.css_representante_label { }
.css_representante_line { }
.css_representante_obj { }
.css_imagenter_label {vertical-align:middle;}
.css_imagenter_line {vertical-align:middle;width:200px;}
.css_imagenter_obj { }
.css_es_restaurante_label { }
.css_es_restaurante_line {text-align:center;}
.css_es_restaurante_obj {text-align:center;}
.css_ciudad_label { }
.css_ciudad_line { }
.css_ciudad_obj { }
.css_codigo_postal_label { }
.css_codigo_postal_line { }
.css_codigo_postal_obj { }
.css_lenguaje_label { }
.css_lenguaje_line {vertical-align:middle;}
.css_lenguaje_obj { }
.css_nombre_comercil_label { }
.css_nombre_comercil_line { }
.css_nombre_comercil_obj {width:350px;}
.css_notificar_label { }
.css_notificar_line { }
.css_notificar_obj { }
.css_codigo_tercero_label { }
.css_codigo_tercero_line { }
.css_codigo_tercero_obj {text-align:center;}
.css_departamento_label { }
.css_departamento_line { }
.css_departamento_obj { }
.css_r_social_label { }
.css_r_social_line { }
.css_r_social_obj {width:350px;}
