.css_id_programar_label { }
.css_id_programar_line {text-align:left;}
.css_id_programar_obj {text-align:left;}
.css_desde_label { }
.css_desde_line { }
.css_desde_obj { }
.css_hasta_label { }
.css_hasta_line { }
.css_hasta_obj { }
.css_porcentaje_label { }
.css_porcentaje_line {text-align:left;}
.css_porcentaje_obj {text-align:center;}
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_creado_label { }
.css_creado_line { }
.css_creado_obj { }
.css_cajas_afectadas_label { }
.css_cajas_afectadas_line { }
.css_cajas_afectadas_obj { }
