.css_id_empresa__label {text-align:left;}
.css_id_empresa__line {text-align:left;}
.css_id_empresa__obj {text-align:left;}
.css_usuario__label { }
.css_usuario__line { }
.css_usuario__obj { }
.css_password__label { }
.css_password__line { }
.css_password__obj { }
.css_activo__label { }
.css_activo__line { }
.css_activo__obj { }
.css_nombre_completo__label { }
.css_nombre_completo__line { }
.css_nombre_completo__obj { }
.css_celular__label { }
.css_celular__line { }
.css_celular__obj { }
.css_correo__label { }
.css_correo__line { }
.css_correo__obj { }
.css_prefijo__label { }
.css_prefijo__line { }
.css_prefijo__obj { }
.css_codsucursal__label { }
.css_codsucursal__line { }
.css_codsucursal__obj { }
