.css_iddet_label {text-align:right;}
.css_iddet_line {text-align:right;}
.css_iddet_obj {text-align:left;}
.css_idpedid_label { }
.css_idpedid_line {text-align:left;}
.css_idpedid_obj {text-align:left;}
.css_idpro_label {text-align:left;vertical-align:middle;}
.css_idpro_line { }
.css_idpro_obj {text-align:left;width:300px;}
.css_unidadmayor_label { }
.css_unidadmayor_line { }
.css_unidadmayor_obj { }
.css_factor_label { }
.css_factor_line {text-align:left;}
.css_factor_obj {text-align:left;}
.css_idbod_label {text-align:center;}
.css_idbod_line {vertical-align:middle;}
.css_idbod_obj {text-align:center;}
.css_costop_label { }
.css_costop_line {text-align:left;}
.css_costop_obj {text-align:left;}
.css_cantidad_label {text-align:center;vertical-align:middle;}
.css_cantidad_line { }
.css_cantidad_obj {text-align:center;width:80px;}
.css_valorunit_label {text-align:center;vertical-align:middle;}
.css_valorunit_line {text-align:center;}
.css_valorunit_obj {text-align:right;width:100px;}
.css_valorpar_label {text-align:center;vertical-align:middle;}
.css_valorpar_line {text-align:center;}
.css_valorpar_obj {text-align:right;width:120px;}
.css_iva_label { }
.css_iva_line {text-align:left;}
.css_iva_obj {text-align:left;}
.css_descuento_label {text-align:center;}
.css_descuento_line {text-align:center;}
.css_descuento_obj {text-align:center;width:70px;}
.css_adicional_label {text-align:right;}
.css_adicional_line {text-align:right;}
.css_adicional_obj {text-align:left;}
.css_adicional1_label {text-align:right;}
.css_adicional1_line {text-align:right;}
.css_adicional1_obj {text-align:left;}
.css_colores_label { }
.css_colores_line {text-align:center;}
.css_colores_obj {text-align:center;}
.css_tallas_label { }
.css_tallas_line {text-align:center;}
.css_tallas_obj {text-align:center;}
.css_sabor_label { }
.css_sabor_line {text-align:center;}
.css_sabor_obj {text-align:center;}
.css_estado_comanda_label { }
.css_estado_comanda_line { }
.css_estado_comanda_obj { }
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
.css_stockubica_label {text-align:center;vertical-align:middle;width:80px;}
.css_stockubica_line {background-color:#00FF66;text-align:center;vertical-align:middle;}
.css_stockubica_obj {text-align:center;width:80px;}
.css_unidad_label {text-align:center;vertical-align:middle;}
.css_unidad_line {background-color:#00FF66;text-align:center;vertical-align:middle;}
.css_unidad_obj {text-align:center;}
.css_descrip_label { }
.css_descrip_line {text-align:center;vertical-align:middle;}
.css_descrip_obj { }
.css_autorizarborrado_label { }
.css_autorizarborrado_line {text-align:center;}
.css_autorizarborrado_obj {text-align:center;}
