.css_idpro__label { }
.css_idpro__line {text-align:left;}
.css_idpro__obj {text-align:left;}
.css_idbod__label { }
.css_idbod__line {text-align:left;}
.css_idbod__obj {text-align:left;}
.css_cantidad__label { }
.css_cantidad__line {text-align:center;}
.css_cantidad__obj {text-align:center;}
.css_valorunit__label { }
.css_valorunit__line {text-align:right;}
.css_valorunit__obj {text-align:right;}
.css_valorpar__label { }
.css_valorpar__line {text-align:left;}
.css_valorpar__obj {text-align:left;}
.css_iva__label { }
.css_iva__line {text-align:left;}
.css_iva__obj {text-align:left;}
.css_descuento__label { }
.css_descuento__line {text-align:left;}
.css_descuento__obj {text-align:left;}
.css_tasaiva__label { }
.css_tasaiva__line {text-align:left;}
.css_tasaiva__obj {text-align:left;}
.css_tasadesc__label { }
.css_tasadesc__line {text-align:left;}
.css_tasadesc__obj {text-align:left;}
.css_devuelto__label { }
.css_devuelto__line {text-align:left;}
.css_devuelto__obj {text-align:left;}
.css_colores__label {text-align:center;vertical-align:middle;}
.css_colores__line {text-align:center;vertical-align:middle;}
.css_colores__obj {text-align:left;}
.css_tallas__label {text-align:center;vertical-align:middle;}
.css_tallas__line {text-align:center;vertical-align:middle;}
.css_tallas__obj {text-align:left;}
.css_sabor__label {text-align:center;vertical-align:middle;}
.css_sabor__line {text-align:center;}
.css_sabor__obj {text-align:left;}
