.css_codigobar__label { }
.css_codigobar__line { }
.css_codigobar__obj { }
.css_nompro__label { }
.css_nompro__line { }
.css_nompro__obj { }
.css_idiva__label { }
.css_idiva__line {text-align:left;}
.css_idiva__obj {text-align:left;}
.css_cod_cuenta__label { }
.css_cod_cuenta__line { }
.css_cod_cuenta__obj { }
