.css_id_tarea_det_label {text-align: right;vertical-align: middle;}
.css_id_tarea_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_asesor_det_label {text-align: right;vertical-align: middle;}
.css_asesor_det_line {height:0px;text-align: right;}
.css_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_creado_det_label {text-align: right;vertical-align: middle;}
.css_creado_det_line {height:0px;text-align: right;}
.css_editado_det_label {text-align: right;vertical-align: middle;}
.css_editado_det_line {height:0px;text-align: right;}
.css_realizada_det_label {text-align: right;vertical-align: middle;}
.css_realizada_det_line {height:0px;text-align: right;}
