.css_id_exclusion__label { }
.css_id_exclusion__line {text-align:left;}
.css_id_exclusion__obj {text-align:left;}
.css_codproducto__label { }
.css_codproducto__line { }
.css_codproducto__obj {width:300px;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_id_empresa__label { }
.css_id_empresa__line {text-align:left;}
.css_id_empresa__obj {text-align:left;}
.css_tipo__label { }
.css_tipo__line { }
.css_tipo__obj { }
.css_id_mandatorio__label { }
.css_id_mandatorio__line { }
.css_id_mandatorio__obj { }
.css_dv_mandatorio__label { }
.css_dv_mandatorio__line { }
.css_dv_mandatorio__obj { }
.css_tipo_id__label { }
.css_tipo_id__line { }
.css_tipo_id__obj { }
.css_codlinea__label { }
.css_codlinea__line { }
.css_codlinea__obj { }
.css_deslinea__label { }
.css_deslinea__line { }
.css_deslinea__obj { }
.css_creado__label { }
.css_creado__line { }
.css_creado__obj { }
.css_editado__label { }
.css_editado__line { }
.css_editado__obj { }
