.css_id_contacto_det_label {text-align: right;vertical-align: middle;}
.css_id_contacto_det_line {height:0px;text-align: right;}
.css_nombres_det_label {text-align: right;vertical-align: middle;}
.css_nombres_det_line {height:0px;text-align: right;}
.css_direccion_det_label {text-align: right;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: right;}
.css_observaciones_det_label {text-align: right;vertical-align: middle;}
.css_observaciones_det_line {height:0px;text-align: right;}
.css_pais_det_label {text-align: right;vertical-align: middle;}
.css_pais_det_line {height:0px;text-align: right;}
.css_ciudad_det_label {text-align: right;vertical-align: middle;}
.css_ciudad_det_line {height:0px;text-align: right;}
.css_clasificacion_det_label {text-align: right;vertical-align: middle;}
.css_clasificacion_det_line {height:0px;text-align: right;}
.css_inactivo_det_label {text-align: right;vertical-align: middle;}
.css_inactivo_det_line {height:0px;text-align: right;}
.css_creado_det_label {text-align: right;vertical-align: middle;}
.css_creado_det_line {height:0px;text-align: right;}
.css_editado_det_label {text-align: right;vertical-align: middle;}
.css_editado_det_line {height:0px;text-align: right;}
.css_ultimo_contacto_det_label {text-align: right;vertical-align: middle;}
.css_ultimo_contacto_det_line {height:0px;text-align: right;}
.css_numero_contactos_det_label {text-align: right;vertical-align: middle;}
.css_numero_contactos_det_line {height:0px;text-align: right;}
.css_asesor_det_label {text-align: right;vertical-align: middle;}
.css_asesor_det_line {height:0px;text-align: right;}
