.css_id_detnc__label { }
.css_id_detnc__line {text-align:left;}
.css_id_detnc__obj {text-align:left;}
.css_id_mov__label { }
.css_id_mov__line {text-align:left;}
.css_id_mov__obj {text-align:left;}
.css_id_prod__label { }
.css_id_prod__line {text-align:left;width:100px;}
.css_id_prod__obj {text-align:left;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_origen__label { }
.css_origen__line {text-align:left;}
.css_origen__obj {text-align:left;}
.css_destino__label { }
.css_destino__line {text-align:left;}
.css_destino__obj {text-align:left;}
.css_cantidad__label {text-align:;}
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:left;}
.css_escala__label {text-align:;}
.css_escala__line {text-align:left;}
.css_escala__obj {text-align:left;}
.css_costo__label {text-align:;}
.css_costo__line {text-align:left;}
.css_costo__obj {text-align:left;}
.css_stock__label {text-align:right;}
.css_stock__line {text-align:right;}
.css_stock__obj {text-align:right;}
