.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_html_header_label { }
.css_html_header_line { }
.css_html_header_obj { }
.css_html_body_label { }
.css_html_body_line { }
.css_html_body_obj { }
.css_html_buttons_label { }
.css_html_buttons_line { }
.css_html_buttons_obj { }
.css_html_footer_label { }
.css_html_footer_line { }
.css_html_footer_obj { }
