.css_id__label {text-align:right;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_contrato__label {text-align:left;}
.css_contrato__line {text-align:center;}
.css_contrato__obj {text-align:left;}
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_observacion__label { }
.css_observacion__line { }
.css_observacion__obj { }
.css_precinto__label { }
.css_precinto__line { }
.css_precinto__obj { }
.css_color_precinto__label { }
.css_color_precinto__line { }
.css_color_precinto__obj { }
.css_rgb__label { }
.css_rgb__line { }
.css_rgb__obj { }
