.css_ip_servidor_label { }
.css_ip_servidor_line { }
.css_ip_servidor_obj {text-align:center;}
.css_puerto_label { }
.css_puerto_line { }
.css_puerto_obj {text-align:center;}
.css_ruta_bd_label { }
.css_ruta_bd_line { }
.css_ruta_bd_obj { }
.css_id_empresa_label { }
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_ruta_bd_admin_label { }
.css_ruta_bd_admin_line { }
.css_ruta_bd_admin_obj { }
.css_ruta_bd_anterior_label { }
.css_ruta_bd_anterior_line { }
.css_ruta_bd_anterior_obj { }
