.css_idetiqueta_label { }
.css_idetiqueta_line {text-align:left;}
.css_idetiqueta_obj {text-align:left;}
.css_idfamilia_label { }
.css_idfamilia_line {text-align:left;}
.css_idfamilia_obj {text-align:left;}
.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_size_letra_descripcion_label { }
.css_size_letra_descripcion_line {text-align:left;}
.css_size_letra_descripcion_obj {text-align:center;}
.css_tipo_letra_label { }
.css_tipo_letra_line { }
.css_tipo_letra_obj { }
.css_columnas_label { }
.css_columnas_line {text-align:left;}
.css_columnas_obj {text-align:center;}
.css_tipo_codigo_label { }
.css_tipo_codigo_line { }
.css_tipo_codigo_obj { }
.css_tipo_imagen_label { }
.css_tipo_imagen_line { }
.css_tipo_imagen_obj { }
.css_altura_label { }
.css_altura_line {text-align:left;}
.css_altura_obj {text-align:left;}
.css_anchura_label { }
.css_anchura_line {text-align:left;}
.css_anchura_obj {text-align:left;}
.css_precio_label { }
.css_precio_line {text-align:left;}
.css_precio_obj {text-align:left;}
.css_ver_codigo_label { }
.css_ver_codigo_line { }
.css_ver_codigo_obj { }
.css_ver_descripcion_label { }
.css_ver_descripcion_line { }
.css_ver_descripcion_obj { }
.css_titulo_label { }
.css_titulo_line { }
.css_titulo_obj { }
.css_personalizado1_label { }
.css_personalizado1_line { }
.css_personalizado1_obj { }
.css_personalizado2_label { }
.css_personalizado2_line { }
.css_personalizado2_obj { }
.css_personalizado3_label { }
.css_personalizado3_line { }
.css_personalizado3_obj { }
.css_espaciado_label { }
.css_espaciado_line {text-align:left;}
.css_espaciado_obj {text-align:center;}
.css_ancho_descripcion_label { }
.css_ancho_descripcion_line {text-align:left;}
.css_ancho_descripcion_obj {text-align:center;}
.css_size_letra_codigo_label { }
.css_size_letra_codigo_line {text-align:left;}
.css_size_letra_codigo_obj {text-align:center;}
.css_size_letra_precio_label { }
.css_size_letra_precio_line {text-align:left;}
.css_size_letra_precio_obj {text-align:center;}
.css_size_letra_perso1_label { }
.css_size_letra_perso1_line {text-align:left;}
.css_size_letra_perso1_obj {text-align:center;}
.css_size_letra_perso2_label { }
.css_size_letra_perso2_line {text-align:left;}
.css_size_letra_perso2_obj {text-align:center;}
.css_size_letra_perso3_label { }
.css_size_letra_perso3_line {text-align:left;}
.css_size_letra_perso3_obj {text-align:center;}
.css_posicion_codigo_label { }
.css_posicion_codigo_line {text-align:left;}
.css_posicion_codigo_obj {text-align:center;}
.css_posicion_descripcion_label { }
.css_posicion_descripcion_line {text-align:left;}
.css_posicion_descripcion_obj {text-align:center;}
.css_posicion_precio_label { }
.css_posicion_precio_line {text-align:left;}
.css_posicion_precio_obj {text-align:center;}
.css_posicion_perso1_label { }
.css_posicion_perso1_line {text-align:left;}
.css_posicion_perso1_obj {text-align:center;}
.css_posicion_perso2_label { }
.css_posicion_perso2_line {text-align:left;}
.css_posicion_perso2_obj {text-align:center;}
.css_posicion_perso3_label { }
.css_posicion_perso3_line {text-align:left;}
.css_posicion_perso3_obj {text-align:center;}
.css_alineacion_label { }
.css_alineacion_line { }
.css_alineacion_obj { }
.css_nombre_configuracion_label { }
.css_nombre_configuracion_line { }
.css_nombre_configuracion_obj { }
.css_copias_label { }
.css_copias_line {text-align:left;}
.css_copias_obj {text-align:center;}
.css_nompro_label { }
.css_nompro_line { }
.css_nompro_obj { }
