.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_clave_label { }
.css_clave_line { }
.css_clave_obj { }
.css_id_detalle_label { }
.css_id_detalle_line { }
.css_id_detalle_obj {text-align:right;}
.css_producto_label { }
.css_producto_line { }
.css_producto_obj { }
