.css_id_tarea_label { }
.css_id_tarea_line {text-align:left;}
.css_id_tarea_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_asesor_label { }
.css_asesor_line {text-align:left;}
.css_asesor_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_realizada_label { }
.css_realizada_line { }
.css_realizada_obj { }
