.css_nit_label { }
.css_nit_line { }
.css_nit_obj { }
.css_idsoftware_label { }
.css_idsoftware_line { }
.css_idsoftware_obj { }
.css_token_label { }
.css_token_line { }
.css_token_obj { }
.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
