.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_idfacven__label { }
.css_idfacven__line {text-align:left;}
.css_idfacven__obj {text-align:left;}
.css_adjunto__label { }
.css_adjunto__line { }
.css_adjunto__obj { }
.css_creado__label { }
.css_creado__line { }
.css_creado__obj { }
.css_actualizado__label { }
.css_actualizado__line { }
.css_actualizado__obj { }
