@font-face {
    font-family: 'calc';
    src: url('../fonts/QuartzMS/QuartzMS.eot');
    src: url('../fonts/QuartzMS/QuartzMS.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuartzMS/QuartzMS.woff') format('woff'),
         url('../fonts/QuartzMS/QuartzMS.ttf') format('truetype'),
         url('../fonts/QuartzMS/QuartzMS.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}