.css_id_resp_tr_ter_label {text-align:right;}
.css_id_resp_tr_ter_line {text-align:left;}
.css_id_resp_tr_ter_obj {text-align:left;}
.css_id_tercero_label {text-align:right;}
.css_id_tercero_line {text-align:left;}
.css_id_tercero_obj {text-align:left;}
.css_codigo_rt_label { }
.css_codigo_rt_line { }
.css_codigo_rt_obj { }
.css_decripcion_rt_label { }
.css_decripcion_rt_line { }
.css_decripcion_rt_obj { }
