.css_id_um__label {text-align:right;}
.css_id_um__line {text-align:left;}
.css_id_um__obj {text-align:left;}
.css_codigo_um__label { }
.css_codigo_um__line { }
.css_codigo_um__obj { }
.css_descripcion_um__label { }
.css_descripcion_um__line { }
.css_descripcion_um__obj { }
