.css_archivo__label { }
.css_archivo__line { }
.css_archivo__obj { }
.css_observacion__label { }
.css_observacion__line { }
.css_observacion__obj { }
.css_id_historial__label {text-align:right;}
.css_id_historial__line {text-align:left;}
.css_id_historial__obj {text-align:left;}
