.css_iddet_det_label {text-align: left;vertical-align: middle;}
.css_iddet_det_line {height:0px;text-align: left;}
.css_idpedid_det_label {text-align: left;vertical-align: middle;}
.css_idpedid_det_line {height:0px;text-align: left;}
.css_numfac_det_label {text-align: left;vertical-align: middle;}
.css_numfac_det_line {height:0px;text-align: left;}
.css_remision_det_label {text-align: left;vertical-align: middle;}
.css_remision_det_line {height:0px;text-align: left;}
.css_idpro_det_label {text-align: left;vertical-align: middle;}
.css_idpro_det_line {height:0px;text-align: left;}
.css_unidadmayor_det_label {text-align: left;vertical-align: middle;}
.css_unidadmayor_det_line {height:0px;text-align: left;}
.css_factor_det_label {text-align: left;vertical-align: middle;}
.css_factor_det_line {height:0px;text-align: left;}
.css_idbod_det_label {text-align: left;vertical-align: middle;}
.css_idbod_det_line {height:0px;text-align: left;}
.css_costop_det_label {text-align: left;vertical-align: middle;}
.css_costop_det_line {height:0px;text-align: left;}
.css_cantidad_det_label {text-align: left;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: left;}
.css_valorunit_det_label {text-align: left;vertical-align: middle;}
.css_valorunit_det_line {height:0px;text-align: left;}
.css_valorpar_det_label {text-align: left;vertical-align: middle;}
.css_valorpar_det_line {height:0px;text-align: left;}
.css_iva_det_label {text-align: left;vertical-align: middle;}
.css_iva_det_line {height:0px;text-align: left;}
.css_descuento_det_label {text-align: left;vertical-align: middle;}
.css_descuento_det_line {height:0px;text-align: left;}
.css_adicional_det_label {text-align: left;vertical-align: middle;}
.css_adicional_det_line {height:0px;text-align: left;}
.css_adicional1_det_label {text-align: left;vertical-align: middle;}
.css_adicional1_det_line {height:0px;text-align: left;}
.css_devuelto_det_label {text-align: left;vertical-align: middle;}
.css_devuelto_det_line {height:0px;text-align: left;}
.css_colores_det_label {text-align: left;vertical-align: middle;}
.css_colores_det_line {height:0px;text-align: left;}
.css_tallas_det_label {text-align: left;vertical-align: middle;}
.css_tallas_det_line {height:0px;text-align: left;}
.css_sabor_det_label {text-align: left;vertical-align: middle;}
.css_sabor_det_line {height:0px;text-align: left;}
.css_estado_comanda_det_label {text-align: left;vertical-align: middle;}
.css_estado_comanda_det_line {height:0px;text-align: left;}
.css_usuario_comanda_det_label {text-align: left;vertical-align: middle;}
.css_usuario_comanda_det_line {height:0px;text-align: left;}
.css_tercero_comanda_det_label {text-align: left;vertical-align: middle;}
.css_tercero_comanda_det_line {height:0px;text-align: left;}
.css_hora_inicio_det_label {text-align: left;vertical-align: middle;}
.css_hora_inicio_det_line {height:0px;text-align: left;}
.css_hora_final_det_label {text-align: left;vertical-align: middle;}
.css_hora_final_det_line {height:0px;text-align: left;}
.css_observ_det_label {text-align: left;vertical-align: middle;}
.css_observ_det_line {height:0px;text-align: left;}
.css_cerrado_det_label {text-align: left;vertical-align: middle;}
.css_cerrado_det_line {height:0px;text-align: left;}
.css_obs_det_label {text-align: left;vertical-align: middle;}
.css_obs_det_line {height:0px;text-align: left;}
.css_descr_det_label {text-align: left;vertical-align: middle;}
.css_descr_det_line {height:0px;text-align: left;}
