.css_codigobar__label { }
.css_codigobar__line { }
.css_codigobar__obj { }
.css_codigoprod__label { }
.css_codigoprod__line { }
.css_codigoprod__obj { }
.css_nompro__label { }
.css_nompro__line { }
.css_nompro__obj { }
.css_costomen__label {text-align:right;}
.css_costomen__line {text-align:left;}
.css_costomen__obj {text-align:left;}
.css_preciomen__label {text-align:left;}
.css_preciomen__line {text-align:left;}
.css_preciomen__obj {text-align:right;}
.css_preciomen2__label {text-align:left;}
.css_preciomen2__line {text-align:left;}
.css_preciomen2__obj {text-align:right;}
.css_preciomen3__label {text-align:left;}
.css_preciomen3__line {text-align:left;}
.css_preciomen3__obj {text-align:right;}
.css_precio2__label {text-align:left;}
.css_precio2__line {text-align:left;}
.css_precio2__obj {text-align:right;}
.css_preciomay__label {text-align:left;}
.css_preciomay__line {text-align:left;}
.css_preciomay__obj {text-align:right;}
.css_preciofull__label {text-align:left;}
.css_preciofull__line {text-align:left;}
.css_preciofull__obj {text-align:right;}
