.css_id_presupuesto_movimiento_label { }
.css_id_presupuesto_movimiento_line {text-align:left;}
.css_id_presupuesto_movimiento_obj {text-align:left;}
.css_id_presupuesto_label { }
.css_id_presupuesto_line {text-align:left;}
.css_id_presupuesto_obj {text-align:left;}
.css_id_detalle_presupuesto_label { }
.css_id_detalle_presupuesto_line {text-align:left;}
.css_id_detalle_presupuesto_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_gastado_label { }
.css_gastado_line {text-align:left;}
.css_gastado_obj {text-align:left;}
.css_id_banco_label { }
.css_id_banco_line {text-align:left;}
.css_id_banco_obj {text-align:left;}
.css_tipo_doc_label { }
.css_tipo_doc_line { }
.css_tipo_doc_obj { }
.css_id_documento_label { }
.css_id_documento_line {text-align:left;}
.css_id_documento_obj {text-align:left;}
