.SC_SubMenuApp .scBtnGrpBackground { background-color: #f5f5f5; border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px; border-collapse: collapse; opacity: 1; filter: alpha(opacity=100); padding: 0; z-index: 99999; text-align: left }
.SC_SubMenuApp .scBtnGrpText { background-color: #FFFFFF; padding: 4px 25px 4px 15px; opacity: 1; filter: alpha(opacity=100); cursor: pointer; white-space: nowrap; color: #000000 }
.SC_SubMenuApp .scBtnGrpTextOver { background-color: #F0EEEE; opacity: 1; filter: alpha(opacity=100) }
.SC_SubMenuApp .scBtnGrpText .disabled, .SC_SubMenuApp .scBtnGrpText:disabled { background-color: #FFFFFF; color: #000000; opacity: 0.4; filter: alpha(opacity=40) }
.SC_SubMenuApp .scBtnGrpLink { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none }
.SC_SubMenuButton .scBtnGrpBackground { text-align: left }
.SC_SubMenuButton { z-index: 1000 }
.SC_SubMenuApp { z-index: 1000 }
