.css_iddet__label {text-align:right;}
.css_iddet__line {text-align:left;}
.css_iddet__obj {text-align:left;}
.css_idpro__label {text-align:center;vertical-align:middle;}
.css_idpro__line {text-align:left;}
.css_idpro__obj {text-align:left;}
.css_unidadmayor__label { }
.css_unidadmayor__line { }
.css_unidadmayor__obj { }
.css_factor__label {text-align:right;}
.css_factor__line {text-align:left;}
.css_factor__obj {text-align:left;}
.css_idbod__label {text-align:center;}
.css_idbod__line {text-align:center;}
.css_idbod__obj {text-align:center;}
.css_costop__label {text-align:right;}
.css_costop__line {text-align:right;}
.css_costop__obj {text-align:right;}
.css_cantidad__label {text-align:center;}
.css_cantidad__line {text-align:right;}
.css_cantidad__obj {text-align:right;}
.css_valorunit__label {text-align:right;}
.css_valorunit__line {text-align:left;}
.css_valorunit__obj {text-align:left;}
.css_valorpar__label {text-align:center;}
.css_valorpar__line {text-align:right;}
.css_valorpar__obj {text-align:right;}
.css_iva__label {text-align:right;}
.css_iva__line {text-align:left;}
.css_iva__obj {text-align:left;}
.css_colores__label {text-align:center;}
.css_colores__line {text-align:left;}
.css_colores__obj {text-align:center;}
.css_tallas__label {text-align:center;}
.css_tallas__line {text-align:left;}
.css_tallas__obj {text-align:center;}
.css_sabor__label {text-align:right;}
.css_sabor__line {text-align:left;}
.css_sabor__obj {text-align:left;}
.css_stock__label {text-align:center;}
.css_stock__line {text-align:center;}
.css_stock__obj {text-align:right;}
.css_unidad__label {text-align:center;vertical-align:middle;}
.css_unidad__line {text-align:center;vertical-align:middle;}
.css_unidad__obj {text-align:center;}
