.css_idusuarios_grupos__label { }
.css_idusuarios_grupos__line {text-align:left;}
.css_idusuarios_grupos__obj {text-align:left;}
.css_idapp__label { }
.css_idapp__line {text-align:left;}
.css_idapp__obj {text-align:left;}
.css_priv_access__label { }
.css_priv_access__line { }
.css_priv_access__obj { }
.css_priv_insert__label { }
.css_priv_insert__line { }
.css_priv_insert__obj { }
.css_priv_delete__label { }
.css_priv_delete__line { }
.css_priv_delete__obj { }
.css_priv_update__label { }
.css_priv_update__line { }
.css_priv_update__obj { }
.css_priv_export__label { }
.css_priv_export__line { }
.css_priv_export__obj { }
.css_priv_print__label { }
.css_priv_print__line { }
.css_priv_print__obj { }
.css_description__label { }
.css_description__line {width:300px;}
.css_description__obj {width:300px;}
