.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_id_tercero_label { }
.css_id_tercero_line {text-align:left;}
.css_id_tercero_obj {text-align:left;}
.css_notas_label { }
.css_notas_line { }
.css_notas_obj { }
.css_fecha_limite_label { }
.css_fecha_limite_line { }
.css_fecha_limite_obj { }
.css_id_estado_label { }
.css_id_estado_line {text-align:left;}
.css_id_estado_obj {text-align:left;}
.css_asignado_a_label { }
.css_asignado_a_line {text-align:left;}
.css_asignado_a_obj {text-align:left;}
