.css_id_estado__label {text-align:right;}
.css_id_estado__line {text-align:left;}
.css_id_estado__obj {text-align:left;}
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_color__label { }
.css_color__line { }
.css_color__obj { }
.css_rgb__label { }
.css_rgb__line { }
.css_rgb__obj { }
