.css_idmov_label { }
.css_idmov_line {text-align:left;}
.css_idmov_obj {text-align:left;}
.css_idtipotran_label { }
.css_idtipotran_line {text-align:left;}
.css_idtipotran_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_idpro_label { }
.css_idpro_line {text-align:left;}
.css_idpro_obj {text-align:left;}
.css_cantidad_label { }
.css_cantidad_line { }
.css_cantidad_obj {font-size:16px;font-weight:bold;text-align:center;}
.css_idbodorig_label { }
.css_idbodorig_line {text-align:left;}
.css_idbodorig_obj {text-align:left;}
.css_idboddes_label { }
.css_idboddes_line {text-align:left;}
.css_idboddes_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line {width:300px;}
.css_observaciones_obj {text-align:left;}
.css_colores_label { }
.css_colores_line {text-align:left;}
.css_colores_obj {text-align:left;}
.css_tallas_label { }
.css_tallas_line {text-align:left;}
.css_tallas_obj {text-align:left;}
.css_sabor_label { }
.css_sabor_line {text-align:left;}
.css_sabor_obj {text-align:left;}
.css_numeronota_label { }
.css_numeronota_line {text-align:left;}
.css_numeronota_obj {text-align:right;}
.css_prefijonota_label { }
.css_prefijonota_line {text-align:left;}
.css_prefijonota_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
