.css_documento__label { }
.css_documento__line { }
.css_documento__obj { }
.css_nombres__label { }
.css_nombres__line { }
.css_nombres__obj { }
.css_cliente__label { }
.css_cliente__line { }
.css_cliente__obj { }
.css_empleado__label { }
.css_empleado__line { }
.css_empleado__obj { }
.css_proveedor__label { }
.css_proveedor__line { }
.css_proveedor__obj { }
.css_puc_auxiliar_deudores__label { }
.css_puc_auxiliar_deudores__line { }
.css_puc_auxiliar_deudores__obj { }
.css_puc_auxiliar_proveedores__label { }
.css_puc_auxiliar_proveedores__line { }
.css_puc_auxiliar_proveedores__obj { }
