.css_id_sucursal_label { }
.css_id_sucursal_line {text-align:left;}
.css_id_sucursal_obj {text-align:left;}
.css_codigo_suc_label { }
.css_codigo_suc_line { }
.css_codigo_suc_obj { }
.css_observacion_suc_label { }
.css_observacion_suc_line { }
.css_observacion_suc_obj { }
.css_ip_label { }
.css_ip_line { }
.css_ip_obj {text-align:center;}
.css_puerto_label { }
.css_puerto_line {text-align:left;}
.css_puerto_obj {text-align:center;}
.css_nombre_empresa_label { }
.css_nombre_empresa_line { }
.css_nombre_empresa_obj { }
