.css_hola_label {border-color:#FFFFFF;width:150px;}
.css_hola_line {font-weight:bold;border-color:#FFFFFF;text-align:center;width:150px;}
.css_hola_obj {font-weight:bold;border-color:#FFFFFF;text-align:center;}
