.css_title_label { }
.css_title_line { }
.css_title_obj { }
.css_description_label { }
.css_description_line { }
.css_description_obj { }
.css_start_date_label { }
.css_start_date_line { }
.css_start_date_obj { }
.css_start_time_label { }
.css_start_time_line { }
.css_start_time_obj { }
.css_end_date_label { }
.css_end_date_line { }
.css_end_date_obj { }
.css_end_time_label { }
.css_end_time_line { }
.css_end_time_obj { }
.css_recurrence_label { }
.css_recurrence_line { }
.css_recurrence_obj { }
.css_period_label { }
.css_period_line { }
.css_period_obj { }
.css_category_label {text-align:;}
.css_category_line {text-align:left;}
.css_category_obj {text-align:left;}
.css_id_api_label { }
.css_id_api_line { }
.css_id_api_obj { }
.css_recur_info_label { }
.css_recur_info_line { }
.css_recur_info_obj { }
.css_event_color_label { }
.css_event_color_line { }
.css_event_color_obj { }
.css___calend_all_day___label { }
.css___calend_all_day___line { }
.css___calend_all_day___obj { }
