.css_cliente_label { }
.css_cliente_line { }
.css_cliente_obj { }
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj { }
.css_factutaventa_label { }
.css_factutaventa_line { }
.css_factutaventa_obj { }
.css_fechadev_label { }
.css_fechadev_line { }
.css_fechadev_obj {text-align:center;}
.css_fechafactura_label { }
.css_fechafactura_line { }
.css_fechafactura_obj {text-align:center;}
.css_numdev_label { }
.css_numdev_line { }
.css_numdev_obj {text-align:right;}
