.css_idgrupo_label {text-align:right;}
.css_idgrupo_line {text-align:right;}
.css_idgrupo_obj {text-align:left;}
.css_nomgrupo_label { }
.css_nomgrupo_line { }
.css_nomgrupo_obj { }
.css_codigogru_label { }
.css_codigogru_line { }
.css_codigogru_obj { }
.css_imagen_label {vertical-align:middle;}
.css_imagen_line {vertical-align:middle;}
.css_imagen_obj { }
.css_mostrar_label { }
.css_mostrar_line { }
.css_mostrar_obj { }
.css_comanda_label { }
.css_comanda_line { }
.css_comanda_obj { }
.css_ruta_impresora_label { }
.css_ruta_impresora_line { }
.css_ruta_impresora_obj { }
.css_presupuesto_venta_label { }
.css_presupuesto_venta_line {text-align:left;}
.css_presupuesto_venta_obj {text-align:left;}
