.css_id_sucursal__label {text-align:right;}
.css_id_sucursal__line {text-align:left;}
.css_id_sucursal__obj {text-align:left;}
.css_codigo_suc__label { }
.css_codigo_suc__line { }
.css_codigo_suc__obj { }
.css_observacion_suc__label { }
.css_observacion_suc__line { }
.css_observacion_suc__obj { }
