.css_sn_puerto_com_label { }
.css_sn_puerto_com_line {text-align:left;}
.css_sn_puerto_com_obj {text-align:left;}
.css_sn_baudios_label { }
.css_sn_baudios_line {text-align:left;}
.css_sn_baudios_obj {text-align:left;}
.css_sn_paridad_label { }
.css_sn_paridad_line {text-align:left;}
.css_sn_paridad_obj {text-align:left;}
.css_sn_bits_label { }
.css_sn_bits_line {text-align:left;}
.css_sn_bits_obj {text-align:left;}
.css_sn_copy_inicio_label { }
.css_sn_copy_inicio_line {text-align:left;}
.css_sn_copy_inicio_obj {text-align:left;}
.css_sn_copy_fin_label { }
.css_sn_copy_fin_line {text-align:left;}
.css_sn_copy_fin_obj {text-align:left;}
.css_sn_peso_label { }
.css_sn_peso_line { }
.css_sn_peso_obj { }
.css_sn_intervalo_label { }
.css_sn_intervalo_line {text-align:left;}
.css_sn_intervalo_obj {text-align:left;}
.css_sn_parametro_label { }
.css_sn_parametro_line { }
.css_sn_parametro_obj { }
.css_sn_divisor_label { }
.css_sn_divisor_line {text-align:left;}
.css_sn_divisor_obj {text-align:left;}
.css_sn_modo_label { }
.css_sn_modo_line { }
.css_sn_modo_obj { }
.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
