.css_idprod_label { }
.css_idprod_line {text-align:left;}
.css_idprod_obj {text-align:left;}
.css_codigobar_label { }
.css_codigobar_line { }
.css_codigobar_obj { }
.css_nompro_label { }
.css_nompro_line { }
.css_nompro_obj { }
.css_preciomen_label {text-align:left;}
.css_preciomen_line {text-align:left;}
.css_preciomen_obj {text-align:right;}
.css_escombo_label { }
.css_escombo_line { }
.css_escombo_obj { }
.css_maneja_tcs_lfs_label { }
.css_maneja_tcs_lfs_line { }
.css_maneja_tcs_lfs_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
