.css_contacto__label {text-align:right;}
.css_contacto__line {text-align:left;}
.css_contacto__obj {text-align:left;}
.css_archivo__label { }
.css_archivo__line { }
.css_archivo__obj { }
.css_observacion__label { }
.css_observacion__line { }
.css_observacion__obj { }
