.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_estado__label { }
.css_estado__line { }
.css_estado__obj { }
.css_color__label { }
.css_color__line { }
.css_color__obj { }
