.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_password_label { }
.css_password_line { }
.css_password_obj { }
.css_logo_label { }
.css_logo_line { }
.css_logo_obj { }
.css_version_actual_label { }
.css_version_actual_line { }
.css_version_actual_obj { }
.css_empresa_label { }
.css_empresa_line { }
.css_empresa_obj { }
.css_administrar_label {text-align:left;}
.css_administrar_line {text-align:left;}
.css_administrar_obj {text-align:left;}
.css_licencia_label {width:50px;}
.css_licencia_line {text-align:left;}
.css_licencia_obj {text-align:left;}
