.css_idmun__label {text-align:right;}
.css_idmun__line {text-align:left;}
.css_idmun__obj {text-align:left;}
.css_municipio__label { }
.css_municipio__line { }
.css_municipio__obj { }
.css_iddepar__label {text-align:center;}
.css_iddepar__line {text-align:center;}
.css_iddepar__obj {text-align:center;}
.css_codigo_dep__label { }
.css_codigo_dep__line { }
.css_codigo_dep__obj { }
.css_codigo_mu__label {text-align:center;vertical-align:middle;}
.css_codigo_mu__line { }
.css_codigo_mu__obj { }
.css_departamento__label { }
.css_departamento__line { }
.css_departamento__obj { }
