.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_cod_group_label { }
.css_cod_group_line {text-align:left;}
.css_cod_group_obj {text-align:left;}
.css_text_message_label { }
.css_text_message_line { }
.css_text_message_obj { }
.css_start_date_label { }
.css_start_date_line { }
.css_start_date_obj { }
.css_end_date_label { }
.css_end_date_line { }
.css_end_date_obj { }
