.css_iddet_label { }
.css_iddet_line {text-align:left;}
.css_iddet_obj {text-align:left;}
.css_estado_comanda_label { }
.css_estado_comanda_line {text-align:center;}
.css_estado_comanda_obj {font-size:48px;font-weight:bold;}
