.css_numero_label { }
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_observ_label { }
.css_observ_line { }
.css_observ_obj { }
.css_vtotal_label {text-align:left;}
.css_vtotal_line {font-size:20px;font-weight:bold;text-align:left;}
.css_vtotal_obj {font-size:20px;font-weight:bold;text-align:left;}
.css_asentada_label { }
.css_asentada_line {text-align:left;}
.css_asentada_obj {text-align:left;}
.css_id_bodega_label { }
.css_id_bodega_line {text-align:left;}
.css_id_bodega_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
