.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_palabra_clave_label { }
.css_palabra_clave_line { }
.css_palabra_clave_obj { }
.css_icon_label { }
.css_icon_line { }
.css_icon_obj { }
