.css_idclasificacion_cliente__label {text-align:right;}
.css_idclasificacion_cliente__line {text-align:left;}
.css_idclasificacion_cliente__obj {text-align:left;}
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
