.css_id_motivo__label { }
.css_id_motivo__line {text-align:left;}
.css_id_motivo__obj {text-align:left;}
.css_codigo_motivo__label { }
.css_codigo_motivo__line {width:100px;}
.css_codigo_motivo__obj { }
.css_descripcion_motivo__label { }
.css_descripcion_motivo__line { }
.css_descripcion_motivo__obj { }
