.css_comprobante_label {text-align:right;}
.css_comprobante_line {text-align:left;}
.css_comprobante_obj {text-align:left;}
.css_plan_cuenta_label { }
.css_plan_cuenta_line { }
.css_plan_cuenta_obj {text-align:center;}
.css_valor_label {text-align:left;}
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:right;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_tercero_label {text-align:left;}
.css_tercero_line {text-align:left;}
.css_tercero_obj {text-align:left;}
.css_observacion_label { }
.css_observacion_line { }
.css_observacion_obj { }
