.css_iddet_label {text-align:right;}
.css_iddet_line {text-align:right;}
.css_iddet_obj {text-align:left;}
.css_obs_label {text-align:left;vertical-align:middle;}
.css_obs_line {text-align:center;vertical-align:middle;}
.css_obs_obj { }
