.SC_SubMenuApp .scBtnGrpBackground { background-color: #f1f5fa; border-color: #e7e7e7; border-style: solid; border-width: 1px; border-collapse: collapse; opacity: 1; filter: alpha(opacity=100); padding: 0; z-index: 99999; text-align: left }
.SC_SubMenuApp .scBtnGrpText { padding: 4px 25px 4px 15px; opacity: 1; filter: alpha(opacity=100); cursor: pointer; white-space: nowrap; color: #000000 }
.SC_SubMenuApp .scBtnGrpTextOver { background-color: #dfe5f6; opacity: 1; filter: alpha(opacity=100) }
.SC_SubMenuApp .scBtnGrpText .disabled, .SC_SubMenuApp .scBtnGrpText:disabled { color: #000000; opacity: 0.4; filter: alpha(opacity=40) }
.SC_SubMenuApp .scBtnGrpLink { color: #000000; font-family: Tahoma, Arial, Verdana, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none }
.SC_SubMenuButton .scBtnGrpBackground { text-align: left }
.SC_SubMenuButton { z-index: 1000 }
.SC_SubMenuApp { z-index: 1000 }
