.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj { }
.css_id_empresa_label {text-align:left;}
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_cod_prefijo_label { }
.css_cod_prefijo_line { }
.css_cod_prefijo_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_prefijo_prueba_label { }
.css_prefijo_prueba_line { }
.css_prefijo_prueba_obj { }
.css_resolucion_label { }
.css_resolucion_line { }
.css_resolucion_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_inicial_label { }
.css_inicial_line {text-align:left;}
.css_inicial_obj {text-align:left;}
.css_final_label { }
.css_final_line {text-align:left;}
.css_final_obj {text-align:left;}
.css_vigencia_label { }
.css_vigencia_line {text-align:left;}
.css_vigencia_obj {text-align:left;}
.css_tipo_resolucion_label { }
.css_tipo_resolucion_line { }
.css_tipo_resolucion_obj { }
.css_activa_label { }
.css_activa_line { }
.css_activa_obj { }
.css_contador_label { }
.css_contador_line {text-align:left;}
.css_contador_obj {text-align:left;}
.css_consecutivo_pruebas_label { }
.css_consecutivo_pruebas_line { }
.css_consecutivo_pruebas_obj { }
.css_head_note_label { }
.css_head_note_line { }
.css_head_note_obj { }
.css_foot_note_label { }
.css_foot_note_line { }
.css_foot_note_obj { }
