.css_idcaja_label { }
.css_idcaja_line {text-align:left;}
.css_idcaja_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_jornada_label { }
.css_jornada_line { }
.css_jornada_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_nota_label { }
.css_nota_line { }
.css_nota_obj { }
.css_cantidad_label { }
.css_cantidad_line {text-align:left;}
.css_cantidad_obj {text-align:left;}
.css_documento_label { }
.css_documento_line { }
.css_documento_obj { }
.css_cierredia_label { }
.css_cierredia_line { }
.css_cierredia_obj { }
.css_totaldia_label { }
.css_totaldia_line {text-align:left;}
.css_totaldia_obj {text-align:left;}
.css_arqueo_label { }
.css_arqueo_line {text-align:left;}
.css_arqueo_obj {text-align:left;}
.css_saldo_label { }
.css_saldo_line {text-align:left;}
.css_saldo_obj {text-align:left;}
