.css_matid_det_label {text-align: right;vertical-align: middle;}
.css_matid_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_codbarra_det_label {text-align: right;vertical-align: middle;}
.css_codbarra_det_line {height:0px;text-align: right;}
.css_descrip_det_label {text-align: right;vertical-align: middle;}
.css_descrip_det_line {height:0px;text-align: right;}
.css_grupmatid_det_label {text-align: right;vertical-align: middle;}
.css_grupmatid_det_line {height:0px;text-align: right;}
.css_referencia_det_label {text-align: right;vertical-align: middle;}
.css_referencia_det_line {height:0px;text-align: right;}
.css_peso_det_label {text-align: right;vertical-align: middle;}
.css_peso_det_line {height:0px;text-align: right;}
.css_unidad_det_label {text-align: right;vertical-align: middle;}
.css_unidad_det_line {height:0px;text-align: right;}
.css_unimay_det_label {text-align: right;vertical-align: middle;}
.css_unimay_det_line {height:0px;text-align: right;}
.css_gcmatid_det_label {text-align: right;vertical-align: middle;}
.css_gcmatid_det_line {height:0px;text-align: right;}
.css_tipoivaid_det_label {text-align: right;vertical-align: middle;}
.css_tipoivaid_det_line {height:0px;text-align: right;}
.css_factor_det_label {text-align: right;vertical-align: middle;}
.css_factor_det_line {height:0px;text-align: right;}
.css_factorglb_det_label {text-align: right;vertical-align: middle;}
.css_factorglb_det_line {height:0px;text-align: right;}
.css_comision_det_label {text-align: right;vertical-align: middle;}
.css_comision_det_line {height:0px;text-align: right;}
.css_lineamatid_det_label {text-align: right;vertical-align: middle;}
.css_lineamatid_det_line {height:0px;text-align: right;}
.css_tipmat_det_label {text-align: right;vertical-align: middle;}
.css_tipmat_det_line {height:0px;text-align: right;}
.css_tipserial_det_label {text-align: right;vertical-align: middle;}
.css_tipserial_det_line {height:0px;text-align: right;}
.css_rutafoto_det_label {text-align: right;vertical-align: middle;}
.css_rutafoto_det_line {height:0px;text-align: right;}
.css_horasserv_det_label {text-align: right;vertical-align: middle;}
.css_horasserv_det_line {height:0px;text-align: right;}
.css_porutil_det_label {text-align: right;vertical-align: middle;}
.css_porutil_det_line {height:0px;text-align: right;}
.css_porcomision_det_label {text-align: right;vertical-align: middle;}
.css_porcomision_det_line {height:0px;text-align: right;}
.css_excluido_det_label {text-align: right;vertical-align: middle;}
.css_excluido_det_line {height:0px;text-align: right;}
.css_deptoartid_det_label {text-align: right;vertical-align: middle;}
.css_deptoartid_det_line {height:0px;text-align: right;}
.css_bono1_det_label {text-align: right;vertical-align: middle;}
.css_bono1_det_line {height:0px;text-align: right;}
.css_bono2_det_label {text-align: right;vertical-align: middle;}
.css_bono2_det_line {height:0px;text-align: right;}
.css_mesgaran_det_label {text-align: right;vertical-align: middle;}
.css_mesgaran_det_line {height:0px;text-align: right;}
.css_codcums_det_label {text-align: right;vertical-align: middle;}
.css_codcums_det_line {height:0px;text-align: right;}
.css_concentracion_det_label {text-align: right;vertical-align: middle;}
.css_concentracion_det_line {height:0px;text-align: right;}
.css_regimvima_det_label {text-align: right;vertical-align: middle;}
.css_regimvima_det_line {height:0px;text-align: right;}
.css_principioact_det_label {text-align: right;vertical-align: middle;}
.css_principioact_det_line {height:0px;text-align: right;}
.css_presentacion_det_label {text-align: right;vertical-align: middle;}
.css_presentacion_det_line {height:0px;text-align: right;}
.css_canal_det_label {text-align: right;vertical-align: middle;}
.css_canal_det_line {height:0px;text-align: right;}
.css_conben_det_label {text-align: right;vertical-align: middle;}
.css_conben_det_line {height:0px;text-align: right;}
.css_marcaartid_det_label {text-align: right;vertical-align: middle;}
.css_marcaartid_det_line {height:0px;text-align: right;}
