.css_id_copia_label { }
.css_id_copia_line {text-align:left;}
.css_id_copia_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_id_empresa_label { }
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_nombre_archivo_label { }
.css_nombre_archivo_line { }
.css_nombre_archivo_obj { }
