.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj {text-align:center;}
.css_numero_label { }
.css_numero_line { }
.css_numero_obj {text-align:center;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj {text-align:center;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_total_debito_label { }
.css_total_debito_line {text-align:left;}
.css_total_debito_obj {text-align:left;}
.css_total_credito_label { }
.css_total_credito_line {text-align:left;}
.css_total_credito_obj {text-align:left;}
.css_asentada_label { }
.css_asentada_line {text-align:left;}
.css_asentada_obj {text-align:left;}
.css_periodo_label { }
.css_periodo_line { }
.css_periodo_obj { }
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_creado_label { }
.css_creado_line { }
.css_creado_obj { }
.css_d_label { }
.css_d_line { }
.css_d_obj { }
