.css_usuario__label { }
.css_usuario__line {text-align:left;}
.css_usuario__obj {text-align:left;}
.css_terceros_lista__label { }
.css_terceros_lista__line { }
.css_terceros_lista__obj { }
.css_terceros_frm__label { }
.css_terceros_frm__line { }
.css_terceros_frm__obj { }
.css_productos_lista__label { }
.css_productos_lista__line { }
.css_productos_lista__obj { }
.css_productos_frm__label { }
.css_productos_frm__line { }
.css_productos_frm__obj { }
.css_grupos_lista__label { }
.css_grupos_lista__line { }
.css_grupos_lista__obj { }
.css_grupos_frm__label { }
.css_grupos_frm__line { }
.css_grupos_frm__obj { }
.css_usuarios_lista__label { }
.css_usuarios_lista__line { }
.css_usuarios_lista__obj { }
.css_usuarios_frm__label { }
.css_usuarios_frm__line { }
.css_usuarios_frm__obj { }
.css_compras_lista__label { }
.css_compras_lista__line { }
.css_compras_lista__obj { }
.css_compras_frm__label { }
.css_compras_frm__line { }
.css_compras_frm__obj { }
.css_ventas_lista__label { }
.css_ventas_lista__line { }
.css_ventas_lista__obj { }
.css_ventas_frm__label { }
.css_ventas_frm__line { }
.css_ventas_frm__obj { }
.css_cartera_lista__label { }
.css_cartera_lista__line { }
.css_cartera_lista__obj { }
.css_cartera_frm__label { }
.css_cartera_frm__line { }
.css_cartera_frm__obj { }
.css_caja_lista__label { }
.css_caja_lista__line { }
.css_caja_lista__obj { }
.css_caja_frm__label { }
.css_caja_frm__line { }
.css_caja_frm__obj { }
.css_mantenimiento__label { }
.css_mantenimiento__line { }
.css_mantenimiento__obj { }
.css_empresa__label { }
.css_empresa__line { }
.css_empresa__obj { }
.css_inventario__label { }
.css_inventario__line { }
.css_inventario__obj { }
