.css_id_recibo_detalle_label { }
.css_id_recibo_detalle_line {text-align:left;}
.css_id_recibo_detalle_obj {text-align:left;}
.css_documento_label { }
.css_documento_line {text-align:left;}
.css_documento_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_valor_a_pagar_label { }
.css_valor_a_pagar_line {text-align:left;}
.css_valor_a_pagar_obj {text-align:left;}
.css_id_recibo_label { }
.css_id_recibo_line {text-align:left;}
.css_id_recibo_obj {text-align:left;}
.css_concepto_label { }
.css_concepto_line { }
.css_concepto_obj { }
