.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj {text-align:right;}
.css_actividad__label {text-align:left;}
.css_actividad__line {text-align:left;}
.css_actividad__obj {text-align:left;}
.css_porcica__label {text-align:left;}
.css_porcica__line {text-align:left;}
.css_porcica__obj {text-align:right;}
