.css_idzona_cliente__label {text-align:right;}
.css_idzona_cliente__line {text-align:left;}
.css_idzona_cliente__obj {text-align:left;}
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_codigo_mun__label { }
.css_codigo_mun__line { }
.css_codigo_mun__obj { }
.css_codigo_dep__label { }
.css_codigo_dep__line { }
.css_codigo_dep__obj { }
.css_resolucion__label { }
.css_resolucion__line {text-align:left;}
.css_resolucion__obj {text-align:left;}
