.css_logo_label { }
.css_logo_line {text-align:center;}
.css_logo_obj {text-align:center;}
.css_archivo_label { }
.css_archivo_line { }
.css_archivo_obj { }
.css_m_label { }
.css_m_line { }
.css_m_obj { }
