.css_id_presupuesto_movimiento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_presupuesto_movimiento_grid_line {vertical-align: top;text-align: right;}
.css_id_presupuesto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_presupuesto_grid_line {vertical-align: top;text-align: right;}
.css_id_detalle_presupuesto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_detalle_presupuesto_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_gastado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_gastado_grid_line {vertical-align: top;text-align: right;}
.css_id_banco_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_banco_grid_line {vertical-align: top;text-align: right;}
