.css_id_presupuesto_movimiento_det_label {text-align: right;vertical-align: middle;}
.css_id_presupuesto_movimiento_det_line {height:0px;text-align: right;}
.css_id_presupuesto_det_label {text-align: right;vertical-align: middle;}
.css_id_presupuesto_det_line {height:0px;text-align: right;}
.css_id_detalle_presupuesto_det_label {text-align: right;vertical-align: middle;}
.css_id_detalle_presupuesto_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_gastado_det_label {text-align: right;vertical-align: middle;}
.css_gastado_det_line {height:0px;text-align: right;}
.css_id_banco_det_label {text-align: right;vertical-align: middle;}
.css_id_banco_det_line {height:0px;text-align: right;}
.css_tipo_doc_det_label {text-align: right;vertical-align: middle;}
.css_tipo_doc_det_line {height:0px;text-align: right;}
.css_id_documento_det_label {text-align: right;vertical-align: middle;}
.css_id_documento_det_line {height:0px;text-align: right;}
