.css_id_adjunto__label { }
.css_id_adjunto__line {text-align:left;}
.css_id_adjunto__obj {text-align:left;}
.css_id_cloud_kardex__label { }
.css_id_cloud_kardex__line {text-align:left;}
.css_id_cloud_kardex__obj {text-align:left;}
.css_adjunto__label { }
.css_adjunto__line { }
.css_adjunto__obj { }
