.css_id_estado__label {text-align:right;}
.css_id_estado__line {text-align:left;}
.css_id_estado__obj {text-align:left;}
.css_codigo_estado__label { }
.css_codigo_estado__line {width:100px;}
.css_codigo_estado__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
