.css_idpermisos__label {text-align:right;}
.css_idpermisos__line {text-align:left;}
.css_idpermisos__obj {text-align:left;}
.css_usuario__label { }
.css_usuario__line { }
.css_usuario__obj { }
.css_item_menu__label { }
.css_item_menu__line { }
.css_item_menu__obj { }
