.css_idpedido_label { }
.css_idpedido_line {text-align:left;}
.css_idpedido_obj {text-align:left;}
.css_fechaven_label { }
.css_fechaven_line { }
.css_fechaven_obj { }
.css_idcli_label { }
.css_idcli_line {text-align:left;}
.css_idcli_obj {text-align:left;}
.css_vendedor_label { }
.css_vendedor_line {text-align:left;}
.css_vendedor_obj {text-align:left;}
.css_numpedido_label { }
.css_numpedido_line {text-align:center;}
.css_numpedido_obj {text-align:left;}
.css_prefijo_ped_label { }
.css_prefijo_ped_line {text-align:left;}
.css_prefijo_ped_obj {text-align:left;}
.css_disponible_en_movil_label { }
.css_disponible_en_movil_line { }
.css_disponible_en_movil_obj { }
