.css_idpro_label {text-align:left;vertical-align:middle;}
.css_idpro_line {text-align:left;vertical-align:middle;}
.css_idpro_obj {text-align:left;}
.css_idbod_label {text-align:center;vertical-align:middle;}
.css_idbod_line {border-color:#FFFFFF;text-align:center;width:70px;}
.css_idbod_obj {border-color:#FFFFFF;text-align:center;width:70px;}
.css_cantidad_label {text-align:left;}
.css_cantidad_line {text-align:left;}
.css_cantidad_obj {text-align:center;}
.css_valorunit_label { }
.css_valorunit_line { }
.css_valorunit_obj { }
.css_valorpar_label { }
.css_valorpar_line { }
.css_valorpar_obj { }
.css_iva_label { }
.css_iva_line { }
.css_iva_obj { }
.css_descuento_label { }
.css_descuento_line { }
.css_descuento_obj { }
.css_tasaiva_label { }
.css_tasaiva_line { }
.css_tasaiva_obj { }
.css_tasadesc_label { }
.css_tasadesc_line { }
.css_tasadesc_obj { }
.css_devuelto_label { }
.css_devuelto_line { }
.css_devuelto_obj { }
.css_colores_label { }
.css_colores_line { }
.css_colores_obj { }
.css_tallas_label { }
.css_tallas_line { }
.css_tallas_obj { }
.css_sabor_label { }
.css_sabor_line { }
.css_sabor_obj { }
.css_id_label { }
.css_id_line { }
.css_id_obj {text-align:right;}
