.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_color_label { }
.css_color_line { }
.css_color_obj { }
.css_paleta_label { }
.css_paleta_line { }
.css_paleta_obj {text-align:center;}
.css_imagen_label {width:5px;}
.css_imagen_line {width:50px;}
.css_imagen_obj { }
