.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_creado_label { }
.css_creado_line { }
.css_creado_obj { }
.css_inicio_label { }
.css_inicio_line { }
.css_inicio_obj { }
.css_fin_label { }
.css_fin_line { }
.css_fin_obj { }
.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_asunto_label { }
.css_asunto_line { }
.css_asunto_obj { }
.css_imagen_label { }
.css_imagen_line { }
.css_imagen_obj { }
.css_ruta_imagen_label { }
.css_ruta_imagen_line { }
.css_ruta_imagen_obj { }
